@{
	ViewBag.Title = "C/C++";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
   <div class="col-md-12">
      <h3>Misc Projects</h3>
      <p>
         This collection of C and C++ code examples represents my personal study and development in programming on my own without the aid of
         having taken any formal classes or courses in development or programming. This unique look at my learning process and what and how I
         approached problems early on highlights my tenacity to learn and the hunger I had to become a software engineer.
      </p>
      <p>
         This repository contains a collection of projects that I have created that show understanding of coding skills. These projects are intended 
         to be functional and demonstrate understanding in the concept area highlighted but are not intended to be inclusive of a fully functional product. 
         These are proof of concept and skills exposé coding projects.
      </p>
      <p>
         These were written early when I was still learning programming from my early teens to my early twenties representing time approx from 1990 to 1999.
      </p>
      <h3>CS165</h3>
      <p>
         BYU-Idaho study course work completed in 2003

         Before this class I had a fairly solid understanding of basic programming principles and skills.
         I had followed a self-directed educational program and learned the ANSI C Programming language.
         Here was my first experience into C++ and Object Oriented programming. I actually skipped the
         prerequisite class for CS165 which was CS124. After reviewing CS124 it was way too basic for me.
         So instead, I got an A grade in CS165 and requested a vertical credit for CS124.
      </p>
      <h3>CS235</h3>
      <p>
         BYU-Idaho study course work completed in 2004

         This class is a data structures class. Here I learned a great deal more about actual real programming.
         This was one of the first real classes that I gained a much better and deeper understanding of real
         development.
      </p>
   </div>
	<div class="col-md-6">
		<h3>Summary</h3>
		<ul class="list-group">
			<li class="list-group-item list-group-item-info font-weight-bolder">List Item 1</li>
			<li class="list-group-item list-group-item-info font-weight-bolder">List Item 2</li>
			<li class="list-group-item list-group-item-info font-weight-bolder">List Item 3</li>
		</ul>
	</div>
   <div class="col-md-6">
      <h3>External Links</h3>
      <a class="btn btn-info" href="https://github.com/MCLifeLeader/MiscProjects" target="_blank" rel="noopener" style="background: #2e86c1; color: white; font-weight: bold;">Misc Projects >></a><br />
      <a class="btn btn-info" href="https://github.com/MCLifeLeader/CS165" target="_blank" rel="noopener" style="background: #2e86c1; color: white; font-weight: bold;">CS165 Course Work >></a><br />
      <a class="btn btn-info" href="https://github.com/MCLifeLeader/CS235" target="_blank" rel="noopener" style="background: #2e86c1; color: white; font-weight: bold;">CS235 Course Work >></a><br />
   </div>
</div>
