@{
	ViewBag.Title = "Skills";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-4">
	    <h3>Technologies</h3>
	    <p>This is a deeper dive into the technologies and skills that I have learned and developed.</p>
		<p>
			@Html.ActionLink( "Learn more >>", "Technologies", "Skills", null, new { style = "background:#2e86c1; color:white; font-weight:bold;", @class = "btn btn-info" } )
		</p>
	</div>
    <div class="col-md-4">
        <h3>Leadership</h3>
        <p>This details the leadership skills and training that I have learned and applied.</p>
        <p>
            @Html.ActionLink("Learn more >>", "Leadership", "Skills", null, new { style = "background:#2e86c1; color:white; font-weight:bold;", @class = "btn btn-info" })
        </p>
    </div>
</div>
