@{
	ViewBag.Title = "Leadership";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-12">
        <p>
            Explain what this page is and what the view is to expect to see here and what they'll get out of it.
        </p>
    </div>
    <div class="col-md-4">
        <h3>2 Year Service Mission</h3>
        <p>
            About my mission
        </p>
    </div>
</div>
