@{
   ViewBag.Title = "Leadership";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
   <div class="col-12">
      <p>
         This page highlights my learning and personal development path for my self directed education into leadership. I certainly don't know it all, however, I have
         a strong desire to be the best leader and mentor I can where ever I am at. Leadership and I mean real leadership is something earned over years of hard work
         and character building and is easily lost through the misuse of that leadership.
      </p>
   </div>
</div>
<div class="row">
   <div class="col-4">
      <h3 id="DevOpsManager">DevOps Manager</h3>
      <p>
         While working for Academy Mortgage Corporation I became the DevOps Manager. One of the key directives I was provided was helping to drive automation adoption
         throughout Academy's IT department. This included Development, Operations, Information Security, and Support. One of the key projects that I championed was that
         of the adoption of SaltStack. With the key efforts of my primary DevOps Engineer SaltStack Enterprise was purchased and deployed within our environment. Before
         that we used SaltOpen. This open source stack based solution helped us to begin the process of automating infrastructure as code, automatic deployments
         of web and server Certs and automatic remediation of systems or services based on alerting and notifications.
      </p>
      <p>
         The primary tool that we managed as a part of our day to day processes was Azure DevOps from Microsoft where we managed projects, source code repositories, and
         the building and deployment of code through Continuous Integration / Continuous Deployment (CI/CD) process pipelines.
      </p>
   </div>
   <div class="col-4">
      <h3 id="QAManager">Quality Assurance Lead / Manager</h3>
      <p>
         While working for the LDS Church's ICS department in their Content and Media division I had the choice opportunity to help mentor
         and train an Intern in the art and skills of Software Quality Assurance and automation testing. Having the chance to help mentor was
         an absolute blast and I look forward to functioning in that capacity in the future.
      </p>
      <p>
         While working for Academy Mortgage Corporation I became the IT Manager for the Quality Assurance Team. I provided direction and mentoring
         relative to Quality Assurance practices and techniques and provided direction in improving our processes and systems relative to quality and control.
      </p>
   </div>
   <div class="col-4">
      <h3 id="ScrumMaster">Scrum Master</h3>
      <p>
         I have had the opportunity to work in various agile companies since 2009. My first experience with the Agile started while working for Microsoft.
         Since then I each company that I have worked for has utilized one form or another of the Agile methodologies. While working for Swipeclock they
         decided to invest in our team by training all of us in Agile. We each received our Scrum Master certification through the Platinum Edge training
         program. Since then I have assisted in maintaining and keeping Agile practices where ever I have been. While at Academy Mortgage I was asked to
         be one of their Scrum Master’s and create training for our teams and Scrum Masters.
      </p>
      <a class="btn btn-info" href="~/media/2018_Scrum_Master.pptx" target="_blank" rel="noopener" style="background:#2e86c1; color:white; font-weight:bold;">My Scrum Master Deck >></a>
   </div>
   <div class="col-4">
      <h3 id="DevManager">Development Lead / Manager</h3>
      <p>
         As I have grown in my experience as a Software Engineer I have sought opportunities to be a leader among my peers. As a part of that
         career path I have been able to function in the capacity as a development lead. It has been a wonderful introduction into the
         area of leadership and team management and I look forward for further opportunities as I grow in my career.
      </p>
   </div>
   <div class="col-4">
      <h3 id="TwoYearMission">Two Year Service Mission</h3>
      <p>
         I spent two years, on a service mission serving and helping people in the Tempe and Mesa Arizona area. I also had the choice opportunity
         to work and serve among the Native American people on the Glia River Reservation. I followed a regular daily morning and evening routine. There were numerus service
         projects, opportunities of meeting and working with people on the street, and in their homes. It was hard work and well worth the time and lessons learned in
         completing it.
      </p>
   </div>
</div>
<div class="row">
   <div class="col-6">
      <h3 id="PersonalityProfile">Personality and Leadership Profile</h3>
      <p>
         <ul class="list-group">
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <span class="text-uppercase" style="font-weight: bold">Color Profile</span>: Yellow / Red / Blue / White
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <span class="text-uppercase" style="font-weight: bold">Greek Profile</span>: Sanguine / Choleric / Melancholy / Phlegmatic
            </li>
         </ul>
      </p>
      <p>
         <ol class="list-group">
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <span class="text-uppercase" style="font-weight: bold">Strategic</span>
               - People who are especially talented in the Strategic theme create alternate ways
               to proceeed. Faced with any given scenario, they can quickly spot the releant patterns
               and issues.
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <span class="text-uppercase" style="font-weight: bold">Arranger</span>
               - People who are especially talented in the Arranger theme can organize, but they
               also have a flexibility that complements this ability. They like to figure out how all of
               the pieces and resources can be arranged for maximum productivity.
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <span class="text-uppercase" style="font-weight: bold">Intellection</span>
               - People who are especially talented in the intellection theme are
               characteried by their intellectual activity. They are introspective and appreciate
               intellectual discussions.
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <span class="text-uppercase" style="font-weight: bold">Responsibility</span>
               - People who are especially talented in the Responsibility theme
               psychological ownership of what they say they will do. They are committed to stable
               values such as honesty and loyalty.
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <span class="text-uppercase" style="font-weight: bold">Futuristic</span>
               - People who are especially talented in the Futuristic theme are inspired
               by the future and what could be. They inspire others with their visions of the future.
            </li>
         </ol>
      </p>
   </div>
   <div class="col-6">
      <h3>Seminars, Trainings, Audios</h3>
      <p>
         <ul class="list-group">
            <li class="list-group-item list-group-item-info font-weight-bolder">
               Seminars
               <ul class="list-group">
                  <li class="list-group-item list-group-item-secondary font-weight-bolder">3 Key Elements - Master your Influence</li>
                  <li class="list-group-item list-group-item-secondary font-weight-bolder">3 Key Elements - Present Yourself</li>
                  <li class="list-group-item list-group-item-secondary font-weight-bolder">3 Key Elements - The Art of Mentoring</li>
                  <li class="list-group-item list-group-item-secondary font-weight-bolder">3 Key Elements - The Launch</li>
                  <li class="list-group-item list-group-item-secondary font-weight-bolder">3 Key Elements - Energy Rich Life</li>
                  <li class="list-group-item list-group-item-secondary font-weight-bolder">3 Key Elements - My Life Coach</li>
                  <li class="list-group-item list-group-item-secondary font-weight-bolder">3 Key Elements - The Elite</li>
               </ul>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               Trainings
               <ul class="list-group">
                  <li class="list-group-item list-group-item-secondary font-weight-bolder">Platinum Edge - Scrum Master Certification</li>
               </ul>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               Audios
               <ul class="list-group">
                  <li class="list-group-item list-group-item-secondary font-weight-bolder">Ditch Rider <span class="font-weight-normal">by Oliver DeMille</span></li>
               </ul>
            </li>
         </ul>
      </p>
   </div>
   <div class="col-12">
      <h3 id="Books">My Book List</h3>
      <p>
         <ul class="list-group">
            <li class="list-group-item list-group-item-primary font-weight-bolder">
               Books I've Read or Listened To
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2MbHOBV" target="_blank" rel="noopener">The Go-Giver, Expanded Edition</a> <span class="font-weight-normal">by Bob Burg, John David Mann</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2ru9Lhj" target="_blank" rel="noopener">Influencer: The New Science of Leading Change</a> <span class="font-weight-normal">by Joseph Grenny, Kerry Patterson, et al.</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/32yFn28" target="_blank" rel="noopener">The Outward Mindset</a> <span class="font-weight-normal">by The Arbinger Institute, Oliver Wyman, et al.</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/32FNfPG" target="_blank" rel="noopener">Crucial Conversations</a> <span class="font-weight-normal">by Kerry Patterson, Joseph Grenny, et al.</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/32FNfPG" target="_blank" rel="noopener">Emotional Intelligence 2.0</a> <span class="font-weight-normal">by Travis Bradberry, Jean Greaves</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2Jl5JON" target="_blank" rel="noopener">The First 90 Days</a> <span class="font-weight-normal">by Michael Watkins</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2JmEPWH" target="_blank" rel="noopener">Think and Grow Rich</a> <span class="font-weight-normal">by Napoleon Hill</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2G0chQI" target="_blank" rel="noopener">Good to Great</a> <span class="font-weight-normal">by Jim Collins</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2L7fAtT" target="_blank" rel="noopener">The Magic of Thinking Big</a> <span class="font-weight-normal">by David Schwartz</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2LaLIwt" target="_blank" rel="noopener">How to Win Friends and Influence People</a> <span class="font-weight-normal">by Dale Carnegie</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2GfeVm7" target="_blank" rel="noopener">Jack Rabbit Factor </a><span class="font-weight-normal">by Leslie Householder</span>
            </li>
         </ul>
      </p>
      <p>
         <ul class="list-group">
            <li class="list-group-item list-group-item-primary font-weight-bolder">
               Books In Process of being Read
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2ZQtpTP" target="_blank" rel="noopener">Leaders Eat Last</a> <span class="font-weight-normal">by Simon Sinek</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2G4mL1D" target="_blank" rel="noopener">You Were Born Rich</a> <span class="font-weight-normal">by Bob Proctor</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2Xfuh2L" target="_blank" rel="noopener">Parenting with Love and Logic</a> <span class="font-weight-normal">by Foster Cline, Jim Fay</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/3djTD4W" target="_blank" rel="noopener">Apology</a> <span class="font-weight-normal">by Plato</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2JlCvzi" target="_blank" rel="noopener">The Millionaire Next Door: The Surpising Secrets of America's Wealthy</a> <span class="font-weight-normal">by William D. Danko, Thomas J. Stanley</span>
            </li>
         </ul>
      </p>
      <p>
         <ul class="list-group">
            <li class="list-group-item list-group-item-primary font-weight-bolder">
               Books I've not yet Read
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2XKUjd9" target="_blank" rel="noopener">The Federalist Papers</a> <span class="font-weight-normal">by Alexander Hamilton, James Madison, et al.</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2XN9X7J" target="_blank" rel="noopener">Be Our Guest by The Disney Institute</a> <span class="font-weight-normal">by Theodore Kinni</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2Mf7DBa" target="_blank" rel="noopener">The Infinite Game</a> <span class="font-weight-normal">by Simon Sinek</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2zJ24Z2" target="_blank" rel="noopener">Start with Why: How Great Leaders Inspire Everyone to Take Action</a> <span class="font-weight-normal">by Simon Sinek</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2zNpYmd" target="_blank" rel="noopener">Positive Discipline: The Classic Guide to Helping Children Develop Self-Discipline, Responsibility, Cooperation, and Problem-Solving Skills</a> <span class="font-weight-normal">by Jane Nelsen EdD</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/3dhJgyR" target="_blank" rel="noopener">The Liberty Amendments</a> <span class="font-weight-normal">by Mark R. Levin</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2MfGJZS" target="_blank" rel="noopener">The Child Whisperer</a> <span class="font-weight-normal">by Carol Tuttle</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/3evUX59" target="_blank" rel="noopener">Crossing the Chasm</a> <span class="font-weight-normal">by Geoffrey A. Moore</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2ZSHBvy" target="_blank" rel="noopener">Side Hustle</a> <span class="font-weight-normal">by Chris Guillebeau</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2G2wO7o" target="_blank" rel="noopener">The 7 Habits of Highly Effective People: Powerful Lessons in Personal Change</a> <span class="font-weight-normal">by Stephen R. Covey</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2Jo8qPO" target="_blank" rel="noopener">The Richest Man in Babylon</a> <span class="font-weight-normal">by George S. Clason</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2XAGI6a" target="_blank" rel="noopener">The Power of Habit: Why We Do What We Do in Life and Business</a> <span class="font-weight-normal">by Charles Duhigg</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2Xvltrc" target="_blank" rel="noopener">The 5 Levels of Leadership: Proven Steps to Maximize Your Potential</a> <span class="font-weight-normal">by John C. Maxwell</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2XxF0HG" target="_blank" rel="noopener">Procrastinate on Purpose: 5 Permissions to Multiply Your Time</a> <span class="font-weight-normal">by Rory Vaden</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2BeWZrT" target="_blank" rel="noopener">And Not a Shot is Fired (A Blue Print) How Parliament can Play a Revolutionary Part in the Transition to Socialism and the Role of the Popular Masses</a> <span class="font-weight-normal">by Jan Kozak, 1950</span>
               <br />
               Why would I want to read this book? To understand why and how Socialism can overtake a democratic country and society.
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/3gFTk6D" target="_blank" rel="noopener">A Practical Guid to Mindful Meditation</a> <span class="font-weight-normal">by Michael Bunting with Patrick Kearney</span>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
               <a href="https://amzn.to/2XePbPr" target="_blank" rel="noopener">The Mindful Leader</a> <span class="font-weight-normal">by Michael Bunting</span>
            </li>
         </ul>
      </p>
   </div>
</div>
