@{
	ViewBag.Title = "Leadership";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
   <div class="col-12">
      <p>
         This page highlights my learning and personal development path for my self directed education into leadership. I certainly don't know it all, however, I have
         a strong desire to be the best leader and mentor I can where ever I am at. Leadership and I mean real leadership is something earned over years of hard work
         and character building and is easily lost through the misuse of that leadership.
      </p>
   </div>
</div>
<div class="row">
   <div class="col-4">
      <h3>Scrum Master</h3>
      <p>
         I have had the opportunity to work in various agile companies since 2009. My first experience with the Agile started while working for Microsoft.
         Since then I each company that I have worked for has utilized one form or another of the Agile methodologies. While working for Swipeclock they
         decided to invest in our team by training all of us in Agile. We each received our Scrum Master certification through the Platinum Edge training
         program. Since then I have assisted in maintaining and keeping Agile practices where ever I have been. While at Academy Mortgage I was asked to
         be one of their Scrum Master’s and create training for our teams and Scrum Masters.
      </p>

      <a class="btn btn-default" href="~/media/2018_Scrum_Master.pptx" target="_blank" style="background:#2e86c1; color:white; font-weight:bold;">My Scrum Master Deck >></a>

   </div>
   <div class="col-4">
      <h3>Development Lead</h3>
      <p>
         As I have grown in my experience as a Software Engineer I have sought opportunities to be a leader among my peers. As a part of that
         career path I have been able to function in the capacity as a development lead. It has been a wonderful introduction into the
         area of leadership and team management and I look forward for further opportunities as I grow in my career.
      </p>
   </div>
   <div class="col-4">
      <h3>Qualtiy Assurance Lead</h3>
      <p>
         While working for the LDS Church's ICS department in their Content and Media division I had the choice opportunity to help mentor
         and train an Intern in the art and skills of Software Quality Assurance and automation testing. Having the chance to help mentor was
         an absolute blast and I look forward to functioning in that capacity in the future.
      </p>
   </div>
   <div class="col-4">
      <h3>Programs and Training</h3>
      <p>
         <ul class="list-group">
            <li class="list-group-item">
               3 Key Elements
               <ul class="list-group">
                  <li class="list-group-item list-group-item-text">Master your Influence</li>
                  <li class="list-group-item list-group-item-text">Present Yourself</li>
                  <li class="list-group-item list-group-item-text">The Art of Mentoring</li>
                  <li class="list-group-item list-group-item-text">The Elite</li>
               </ul>
            </li>
            <li class="list-group-item">
               Platinum Edge
               <ul class="list-group">
                  <li class="list-group-item list-group-item-text">Scrum Master Certification</li>
               </ul>
            </li>
         </ul>
      </p>
   </div>
   <div class="col-4">
      <h3>Books List</h3>
      <p>
         <ul class="list-group">
            <li class="list-group-item list-group-item-text">Good to Great by Jim Collins</li>
            <li class="list-group-item list-group-item-text">The Magic of Thinking Big by David Schwartz</li>
            <li class="list-group-item list-group-item-text">How to Win Friends and Influence People by Dale Carnegie</li>
            <li class="list-group-item list-group-item-text">Jack Rabbit Factor by Leslie Householder</li>
         </ul>
      </p>
   </div>
   <div class="col-4">
      <h3>Seminars and Audios of Note</h3>
      <p>
         <ul class="list-group">
            <li class="list-group-item list-group-item-text">Ditch Rider by Oliver DeMille</li>
         </ul>
      </p>
   </div>
   <div class="col-4">
      <h3>Two Year Service Mission</h3>
      <p>
         I spent two years, on a service mission serving and helping people in the Tempe and Mesa Arizona area. I also had the choice opportunity
         to work and serve among the Native American people on the Glia River Reservation. I followed a regular daily morning and evening routine. There were numerus service
         projects, opportunities of meeting and working with people on the street, and in their homes. It was hard work and well worth the time and lessons learned in
         completing it.
      </p>
   </div>
   <div class="col-4">
      <h3>Personality and Leadership Profile</h3>
      <p>
         <ul class="list-group">
            <li class="list-group-item list-group-item-text">
               <span class="text-uppercase" style="font-weight: bold">Color Profile</span>: Yellow / Red / Blue / White
            </li>
            <li class="list-group-item list-group-item-text">
               <span class="text-uppercase" style="font-weight: bold">Greek Profile</span>: Sanguine / Choleric / Melancholy / Phlegmatic
            </li>
         </ul>
      </p>
      <p>
         <ol class="list-group">
            <li class="list-group-item list-group-item-text">
               <span class="text-uppercase" style="font-weight: bold">Strategic</span>
               - People who are especially talented in the Strategic theme create alternate ways
               to proceeed. Faced with any given scenario, they can quickly spot the releant patterns
               and issues.
            </li>
            <li class="list-group-item list-group-item-text">
               <span class="text-uppercase" style="font-weight: bold">Arranger</span>
               - People who are especially talented in the Arranger theme can organize, but they
               also have a flexibility that complements this ability. They like to figure out how all of
               the pieces and resources can be arranged for maximum productivity.
            </li>
            <li class="list-group-item list-group-item-text">
               <span class="text-uppercase" style="font-weight: bold">Intellection</span>
               - People who are especially talented in the intellection theme are
               characteried by their intellectual activity. They are introspective and appreciate
               intellectual discussions.
            </li>
            <li class="list-group-item list-group-item-text">
               <span class="text-uppercase" style="font-weight: bold">Responsibility</span>
               - People who are especially talented in the Responsibility theme
               psychological ownership of what they say they will do. They are committed to stable
               values such as honesty and loyalty.
            </li>
            <li class="list-group-item list-group-item-text">
               <span class="text-uppercase" style="font-weight: bold">Futuristic</span>
               - People who are especially talented in the Futuristic theme are inspired
               by the future and what could be. They inspire others with their visions of the future.
            </li>
         </ol>
      </p>
   </div>
</div>
