@{
	ViewBag.Title = "Leadership";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-12">
		<p>
			This page highlights my learning and personal development path for my self directed education into leadership. I certainly don't know it all, however, I have
			a strong desire to be the best leader and mentor I can where ever I am at. Leadership and I mean real leadership is something earned over years of hard work
			and character building and is easily lost through the misuse of that leadership.
		</p>
	</div>
	<div class="col-md-4">
		<h3>Two Year Service Mission</h3>
		<p>
			I spent two years, based on my religious beliefs and convictions, serving and helping people in the Tempe and Mesa Arizona areas. I also had the choice opportunity
			to work and serve among the Native American people on the Glia River Reservation. I followed a regular daily morning and evening routine. There were numerus service
			projects, opportunities of meeting and working with people on the street, and in their homes. It was hard work and well worth the time and lessons learned in
			completing it.
		</p>
	</div>
	<div class="col-md-4">
		<h3></h3>
		<p>
		</p>
	</div>
</div>
