@{
   ViewBag.Title = "Azure DevOps / VSTS / TFS";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
   <div class="col-md-12">
      <h3>Administrative Experience</h3>
      <p>
         My first experience with TFS was in 2011 while working on contract with the LDS Church. I learned how to create and manage
         builds and even added Continuous Deployment to our Development / Test lanes for the project that we were developing. I
         gained a solid understanding of the Team Foundation Version Control (TFVC) repository system including the practice and process
         for proper branching and merging changes within TFVC.
      </p>
      <p>
         After my contract I went to work for SwipeClock. While I was there I assisted in the adoption and implementation of TFS on premise.
         I helped with team and project creation including the configuration of continuous deployment to our development servers. During this
         time, I also functioned as a TFS Administrator for the system and Release Manager, however the majority of my time was focused on
         writing code as one of the company’s Sr. Developers.
      </p>
      <p>
         I then went back on contact to work for the LDS Church and while on the team I was the project administrator for our TFS instance and
         functioned as the Release Manager. It was one of my focus areas in helping our entire team migrate from JIRA to TFS. We had been
         using TFS for our code repository but we were not using the project management capabilities of the system. One of the biggest advantages
         that we wanted was the ability to track what work was completed with what code was checked into the repository.
         After the migration we added GIT in addition to our TFVC repository. After having worked with both Azure DevOps (VSTS / TFS) and JIRA I feel that the
         TFS/VSTS environment is a better wholistic enterprise solution for any IT team.
      </p>
      <p>
         While working for Academy Mortgage, it was decided by business to bring in Azure DevOps (VSTS / TFS) and evaluate its use
         for our teams. Azure DevOps is the Azure cloud version of VSTS / TFS, a SaaS based solution for IT and
         Development shops. My previous experience with TFS was invaluable for the company in evaluating the new solution. Academy was using an
         aging instance of GO / CD / Chef deployment that was taking our DevOps team over 25% of their time just in maintenance of the system and
         services. Working with one of the DevOps team members we were able to create an entire build pipeline for deployment from two to three
         weeks down to three or four hours. I was later promoted to manage the DevOps team and provide best practices and governance over the
         Azure DevOps / VSTS / TFS instance.
      </p>
   </div>
   <div class="col-md-6">
      <h3>Summary</h3>
      <ul class="list-group">
         <li class="list-group-item list-group-item-info font-weight-bolder">Azure DevOps / VSTS / TFS</li>
         <li class="list-group-item list-group-item-info font-weight-bolder">Reporting</li>
         <li class="list-group-item list-group-item-info font-weight-bolder">Agile &amp; Team Configuration of Azure DevOps</li>
         <li class="list-group-item list-group-item-info font-weight-bolder">DevOps</li>
         <li class="list-group-item list-group-item-info font-weight-bolder">JIRA and Migration to TFS</li>
         <li class="list-group-item list-group-item-info font-weight-bolder">Continuous Integration / Continuous Deployment (CI / CD)</li>
         <li class="list-group-item list-group-item-info font-weight-bolder">Release Manager</li>
         <li class="list-group-item list-group-item-info font-weight-bolder">TFVC &amp; Git</li>
         <li class="list-group-item list-group-item-info font-weight-bolder">Branching and Merging Strategies</li>
      </ul>
   </div>
   <div class="col-md-6">
      <h3>External Links</h3>
      <a class="btn btn-info" href="https://www.visualstudio.com/team-services/" target="_blank" rel="noopener" style="background: #2e86c1; color: white; font-weight: bold;">Azure DevOps >></a><br />
      <a class="btn btn-info" href="https://www.visualstudio.com/team-services/git/" target="_blank" rel="noopener" style="background: #2e86c1; color: white; font-weight: bold;">Azure DevOps - Git >></a><br />
      <a class="btn btn-info" href="https://www.visualstudio.com/team-services/tfvc/" target="_blank" rel="noopener" style="background: #2e86c1; color: white; font-weight: bold;">Azure DevOps - TFVC >></a><br />
      <a class="btn btn-info" href="https://www.visualstudio.com/team-services/continuous-integration/" target="_blank" rel="noopener" style="background: #2e86c1; color: white; font-weight: bold;">Azure DevOps - CI / CD >></a><br />
      <a class="btn btn-info" href="https://www.visualstudio.com/team-services/reporting/" target="_blank" rel="noopener" style="background: #2e86c1; color: white; font-weight: bold;">Azure DevOps - Reporting >></a><br />
   </div>
</div>
