@page
@model Cit261Model
@{
    ViewData["Title"] = "CIT 261";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-12">
        <h3>CIT 261 Personal Project 2017</h3>
        <p>
            CIT 261 Project work space represents knowledge gained during a BYU-Idaho web programming and development class. This class primarily covered
            the use of vanilla JavaScript and CSS to create various changes and manipulations to the DOM. This class exposed me to a number of features
            found in JavaScript and the use of CSS that I found very helpful and beneficial to my future work in Web development.
        </p>
        <p>
            Through this class I gained a much better understanding of the JavaScript language and its functional use in web development and design.
            A few of the most prominent features that were most interesting and useful to me are as follows:
            <ul class="list-group">
                <li class="list-group-item list-group-item-info font-weight-bolder">JSON.Parse</li>
                <li class="list-group-item list-group-item-info font-weight-bolder">JSON.Stringify</li>
                <li class="list-group-item list-group-item-info font-weight-bolder">localstorage</li>
                <li class="list-group-item list-group-item-info font-weight-bolder">sessionStorage</li>
                <li class="list-group-item list-group-item-info font-weight-bolder">console.log</li>
                <li class="list-group-item list-group-item-info font-weight-bolder">document.getElementById</li>
                <li class="list-group-item list-group-item-info font-weight-bolder">AJAX</li>
            </ul>
        </p>
        <p>
            Lastly, gaining a solid understanding of how the DOM functions and can be manipulated was deeply interesting to me. Adding and removing
            objects to the DOM, updating existing objects, and working with the JSON data that is then used to modify the DOM was quite exciting.
            Overall I have a very good understanding of how I can use these new skills and knowledge in my profession.
        </p>
        @*
            <p>
                 <a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-info" href="http://dev.mbcarey.com/web/cit261" target="_blank" rel="noopener">CIT 261 Site >></a> 
            </p>
        *@
    </div>
    <div class="col-md-12">
        <h3>CIT 261 Team Project</h3>
        <p>
            CIT 261 Team Project was the class final. The foundation of the mathematics behind the project was adapted from
            Jens T. Satre - <a href="http://www.satellite-calculations.com">http://www.satellite-calculations.com</a> original work 
            for calculating satellite position using TLE data.
        </p>
        <p>
            Our class adapted the original work and added multiple world map images and a simplified drop down list for selecting a limited set of satellites.
            Additionally, we added a manual data entry text area and added logic to parse the TLE data into usable objects for use in the satellite calculator.
        </p>
        <p>
            <a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-info" href="https://github.com/MCLifeLeader/Cit261" target="_blank" rel="noopener">Github CIT 261 >></a>
            @*  <a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-info" href="http://dev.mbcarey.com/Web/cit261" target="_blank" rel="noopener">CIT 261 >></a> *@
            <a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-info" href="https://github.com/MCLifeLeader/CIT261Team" target="_blank" rel="noopener">Github CIT 261 Team Project >></a>
            @*  <a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-info" href="http://dev.mbcarey.com/Web/cit261Team" target="_blank" rel="noopener">CIT 261 Team Project >></a> *@
        </p>
    </div>
</div>
