@page
@model Cs364Model
@{
    ViewData["Title"] = "CS 364";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-12">
        <p>
            Software Engineering I is designed around creating a large group work experience, which simulates what will be found in the work place within the "real world" outside of
            college courses. Class members where organized into the following structure throughout the duration of the semester:
        </p>
        <ul class="list-group">
            <li class="list-group-item list-group-item-info font-weight-bolder">Product Owner: Instructor</li>
            <li class="list-group-item list-group-item-info font-weight-bolder">Project Manager: Michael Carey</li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
                Team Leads:
                <ul>
                    <li class="list-group-item list-group-item-info">
                        Sebastian Calle
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Landon Shumway
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Zane West
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Adam Shumway
                    </li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-info font-weight-bolder">
                Contributors:
                <ul>
                    <li class="list-group-item list-group-item-primary">
                        Team 1
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Jefferson Santos
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Jacob Keene
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Joseph Keene
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Dallin Snell
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Jonah Green
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Jonathan Comeau
                    </li>
                    <li class="list-group-item list-group-item-primary">
                        Team 2
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Fernando Gomez
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Marcus Rhodes
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Brian Robertson
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Austin Golding
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Micah Wilson
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Michael Flindt
                    </li>
                    <li class="list-group-item list-group-item-primary">
                        Team 3
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Aaron Shore
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Robert Nelson
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Jason Catmull
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Kylor Kersavage
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Tyler Sorenson
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Marcus Hedgecock
                    </li>
                    <li class="list-group-item list-group-item-primary">
                        Team 4
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Rex Nesbit
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Brandon Hartshorn
                    </li>
                    <li class="list-group-item list-group-item-info">
                        David Harris
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Keith Wheeler
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Daniel Craig
                    </li>
                    <li class="list-group-item list-group-item-info">
                        John Memmott
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <p>
            During this course I was asked to be the Project Manager (PM) for both the first and second halves of the semester. My experience in the course was a bit different
            than the majority of the class members, in that I managed the project through my team leads and stayed in close communication with the Product Owner.
            The vast majority of work on the actual documents was completed by my teams. As a part of this course we covered the creation of two specific documents based
            on the IEEE standards. My teams created two documents during the course the first being a Software Requirements Specification document (SRS) and second was a
            Software Design Description document (SDD). Lastly, we submitted an Engineering Change Request (ECR) that limited or removed from our original SRS those items that we
            would focus on in the SDD document for version 1 of our fictional product.
        </p>
    </div>
    <div class="col-md-12">
        <h3>SRS Project</h3>
        <h4>
            Systems and software engineering - Life cycle processes - Requirements engineering
            ISO/IEC/IEEE 29148-2011
        </h4>
        <p>
            Our first organized team structure focused on gathering a large list of requirements for a calendar integration application for BYU-Idaho and I-Learn.
            In discussing with the instructor, as a class we gathered more requirements than any other class he had seen while instructing the class.
        </p>
        <p>
            <a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-info" href="~/content/pdf/CS364_SRS.pdf" target="_blank" rel="noopener">SRS Document >></a>
        </p>
    </div>
    <div class="col-md-12">
        <h3>SDD Project</h3>
        <h4>
            IEEE Standard for Information Technology - Systems Design - Software Design Descriptions
            IEEE Std 1016-2009
        </h4>
        <p>
            From the SRS document we chose a handful of requirements that would be fully defined in the SDD. Using this selected list we followed the IEEE specification
            and defined that selected list of features so that an engineering team could develop the software should it be submitted for actual development.
        </p>
        <p>
            <a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-info" href="~/content/pdf/CS364_SDD.pdf" target="_blank" rel="noopener">SDD Document >></a>
        </p>
    </div>
    <div class="col-md-12">
        <h3>ECR Request</h3>
        <p>
            Using the list of requirements we selected we then created and ECR that made an official request to narrow the original scope defined in the SRS and was fully
            defined in the SDD. This document lists the items that are included in the SDD and which items are excluded from the SDD that were originally cited as
            features wanted in the SRS document.
        </p>
        <p>
            <a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-info" href="~/content/pdf/CS364_ECR.pdf" target="_blank" rel="noopener">ECR Document >></a>
        </p>
    </div>
    <div class="col-md-12">
        <p>
            <a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-info" href="https://github.com/MCLifeLeader/CS364" target="_blank" rel="noopener">Github CS 364 Project >></a>
        </p>
    </div>
</div>
