@page
@model Portfolio.Pages.Skills.DatabaseModel
@{
    ViewData["Title"] = "Database";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-12">
        <h3>Technology 1</h3>
        <p>
            Tech Details here
        </p>
        <h3>Technology 2</h3>
        <p>
            Tech Details here
        </p>
        <h3>Methodology 1</h3>
        <p>
            Tech Details here
        </p>
        <h3>Methodology 2</h3>
        <p>
            Tech Details here
        </p>
    </div>
    <div class="col-md-6">
        <h3>Summary</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-info fw-bolder">List Item 1</li>
            <li class="list-group-item list-group-item-info fw-bolder">List Item 2</li>
            <li class="list-group-item list-group-item-info fw-bolder">List Item 3</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>External Links</h3>
        <a class="btn btn-info btn-site" href="https://github.com/MCLifeLeader/EntityFrameworkExample" target="_blank" rel="noopener">Entity Framework >></a><br />
    </div>
</div>
