@page
@model Portfolio.Pages.Skills.IndexModel
@{
    ViewData["Title"] = "Skills";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-12">
        <p>&nbsp;</p>
    </div>
    <div class="col-md-4">
        <h3>Technologies</h3>
        <p>This is a deeper dive into the technologies and skills that I have learned and developed.</p>
        <p>
            <a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-info" asp-area="" asp-page="/Skills/Technologies">Learn more >></a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Leadership</h3>
        <p>This details the leadership skills and training that I have learned and applied.</p>
        <p>
            <a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-info" asp-area="" asp-page="/Skills/Leadership">Learn more >></a>
        </p>
    </div>
</div>