@page
@model Portfolio.Pages.Skills.JavaModel
@{
    ViewData["Title"] = "Java";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-12">
        <h3>AdverTran Media Client Controller</h3>
        <p>
            Application developed in Java using the Netbeans IDE. The AdverTran media client controller was developed to support the controlling and management of media playing
            on screen at movie theaters as a part of the preshow and advertising to help generate revenue for theater chains. This media controller software connected to a web
            based WSDL API that was developed using the .NET Framework. The API provided information related to the playlists and videos that the player would run during the preshow.
            Additionally, the API supported chunking of video files to remote locations that did not have a stable Internet provider. This was a later addition to the API suite to
            support one location that could never complete the download of the video content for the playlist. The player was written using Objective C and ran on Macintosh Mini computers.
        </p>
        <h3>CS246</h3>
        <p>
            BYU-Idaho study course work completed in 2006

            This class was a Java class and focused on the use of Java to create a Sudoku game. During this class I was the Project Manager of about 30 Students.
        </p>
        <h3>CS313</h3>
        <p>
            BYU-Idaho study course work completed in 2017
        </p>
    </div>
    <div class="col-md-6">
        <h3>Summary</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-info fw-bolder">Web API / WSDL</li>
            <li class="list-group-item list-group-item-info fw-bolder">Java</li>
            <li class="list-group-item list-group-item-info fw-bolder">Netbeans</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>External Links</h3>

        <a class="btn btn-info btn-site" href="https://github.com/MCLifeLeader/CS246" target="_blank" rel="noopener">CS246 Course Work >></a><br />
        <a class="btn btn-info btn-site" href="https://github.com/MCLifeLeader/cs313java" target="_blank" rel="noopener">CS313 Course Work >></a><br />
    </div>
</div>
