@page
@model Portfolio.Pages.GitModel
@{
    ViewData["Title"] = "Git Repo List";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row pt-3">
    <div class="col-md-4">
        <h3>ePortfolio Git Repo</h3>
        <p>
            This is the repository for this ePortfolio site. You will be able to find a majority of projects and code here.
            <span class="fw-bold">The project is currently under development.</span>
        </p>
        <p><a class="btn btn-primary" href="https://github.com/MCLifeLeader/ePortfolio" target="_blank" rel="noopener">GitHub ePortfolio &gt;&gt;</a></p>
        <p><a class="btn btn-primary" href="http://mbcarey.com/" target="_blank" rel="noopener">Michael Carey's ePortfolio (this site) &gt;&gt;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Startup Example</h3>
        <p>
            This repository contains a demo project to highlight project architecture and provide a possible template for new .NET projects.
            <span class="fw-bold">The project is currently under development.</span>
        </p>
        <p><a class="btn btn-primary" href="https://github.com/MCLifeLeader/DotNetProjectStartup" target="_blank" rel="noopener">GitHub DotNetProjectStartup &gt;&gt;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Learning Blazor</h3>
        <p>
            This repository contains some of my learnings around developing Blazor Applications.
            <span class="fw-bold">The project is currently under development.</span>
        </p>
        <p><a class="btn btn-primary" href="https://github.com/MCLifeLeader/SolarianLeague" target="_blank" rel="noopener">GitHub SolarianLeague &gt;&gt;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Interview Challenge Project</h3>
        <p>
            This repository contains a project that is currently under development to help me in the process of hiring new software engineers.
            <span class="fw-bold">The project is currently under development.</span>
            <ul>
                <li>Software Development Engineer (SDE)</li>
                <li>Software Development Engineer in Test (SDET)</li>
                <li>Database Engineer (DBE)</li>
                <li>Quality Assurance Engineer (QAE)</li>
                <li>Systems Engineering (SE)</li>
            </ul>
        </p>
        <p><a class="btn btn-primary" href="https://github.com/MCLifeLeader/InterviewChallenge" target="_blank" rel="noopener">GitHub InterviewChallenge &gt;&gt;</a></p>
    </div>
    <div class="col-md-4">
        <h3>ShortDevLessons</h3>
        <p>
            This repository contains a project that I am creating to help home school students learn the basics of programming.
            <span class="fw-bold">The project is currently under development.</span>
        </p>
        <p><a class="btn btn-primary" href="https://github.com/MCLifeLeader/ShortDevLessons" target="_blank" rel="noopener">GitHub ShortDevLessons &gt;&gt;</a></p>
    </div>
    <div class="col-md-4">
        <h3>SeleniumExample</h3>
        <p>
            This repository contains a demo project for executing a Selenium WebDriver project for automation or QA purposes.
        </p>
        <p><a class="btn btn-primary" href="https://github.com/MCLifeLeader/SeleniumExample" target="_blank" rel="noopener">GitHub SeleniumExample &gt;&gt;</a></p>
    </div>
    <div class="col-md-4">
        <h3>CIT 261 Git Repo</h3>
        <p>
            This repository contains coding projects using HTML, CSS, and Javascript.
            Clicking a link below will open a new browser tab to the respective site.
        </p>
        <p><a class="btn btn-primary" href="https://github.com/MCLifeLeader/Cit261" target="_blank" rel="noopener">GitHub CIT 261 &gt;&gt;</a></p>
        @* <p><a class="btn btn-info btn-site" href="http://dev.mbcarey.com/Web/cit261" target="_blank" rel="noopener">CIT 261 >></a></p> *@
        <p><a class="btn btn-primary" href="https://github.com/MCLifeLeader/CIT261Team" target="_blank" rel="noopener">GitHub CIT 261 Team Project &gt;&gt;</a></p>
        @* <p><a class="btn btn-info btn-site" href="http://dev.mbcarey.com/Web/cit261Team" target="_blank" rel="noopener">CIT 261 Team Project >></a></p> *@
    </div>
    <div class="col-md-4">
        <h3>CS 313 Git Repo</h3>
        <p>
            This repository contains coding projects using PHP, HTML, CSS, Bootstrap, jQuery, SQL, and Java.
            Clicking a link below will open a new browser tab to the respective site.
        </p>
        <p><a class="btn btn-primary" href="https://github.com/MCLifeLeader/cs313php" target="_blank" rel="noopener">GitHub CS 313 PHP &gt;&gt;</a></p>
        @* <p><a class="btn btn-info btn-site" href="https://evening-dawn-85312.herokuapp.com/" target="_blank" rel="noopener">Heroku Hosted Site >></a></p> *@
        <p><a class="btn btn-primary" href="https://github.com/MCLifeLeader/cs313java" target="_blank" rel="noopener">GitHub CS 313 Java &gt;&gt;</a></p>
        @* <p><a class="btn btn-info btn-site" href="https://hidden-plateau-66868.herokuapp.com/" target="_blank" rel="noopener">Heroku Hosted Site >></a></p> *@
        <p><a class="btn btn-primary" href="https://github.com/MCLifeLeader/CS313Team" target="_blank" rel="noopener">GitHub CS 313 Team Project &gt;&gt;</a></p>
        @* <p><a class="btn btn-info btn-site" href="https://cs313team.herokuapp.com/" target="_blank" rel="noopener">CS 313 Team Project >></a></p> *@
    </div>
    <div class="col-md-4">
        <h3>CS 364 Git Repo</h3>
        <p>
            This repository contains the developed raw text during the creation of the SRS and SDD. As the Project Manager (PM) for the project I had all teams submit
            content updates through Markdown script.
        </p>
        <p><a class="btn btn-primary" href="https://github.com/MCLifeLeader/CS364" target="_blank" rel="noopener">GitHub CS 364 Project &gt;&gt;</a></p>
    </div>
</div>
