@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card-header">
    <div class="row">
        <div class="col-12">
            <h1>Michael B. Carey's ePortfolio</h1>
        </div>
        <div class="col-2">
            <img class="img-fluid" src="~/content/images/fbMichael_B_Carey.jpg" title="Michael B. Carey" alt="Michael B. Carey" />
        </div>
        <div class="col-8">
            <p class="text-lg-start intro-header-text">
                Welcome to my "<span class="fw-bold">Work in Progress</span>" ePortfolio, and I'm excited that you're here!
                Please feel free to look around, check it out, by the time you have finished, hopefully you'll have a good idea
                of who I am and what I can do for you on your project!
                <br />
                I currently have full time work and am open to part-time or side work through my personal business
                <a class="fw-bold" href="https://www.AGameEmpowerment.com" target="_blank" rel="noopener">A-Game Empowerment</a>
                and brokered through <a class="fw-bold" href="https://www.upwork.com/freelancers/michaelbcarey" target="_blank" rel="noopener">Upwork</a>.
                I am currently a single freelancer and do not have a team, so I am limited in the amount of work I can take on.
            </p>
        </div>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table table-dark opacity-75">
        <thead>
            <tr>
                <th>Years</th>
                <th>Technology</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10+</td>
                <td>C# / .NET Framework / .NET Core</td>
                <td>Design and development of multi-tier and custom applications. Including various personal projects for continuing education</td>
            </tr>
            <tr>
                <td>10+</td>
                <td>ASP.NET / API / MVC Razor / Blazor</td>
                <td>
                    Implemented multiple different web based applications and APIs from inception to delivery.
                    The addition of Blazor to my skill set is a recent addition and I am excited to see where it goes.
                </td>
            </tr>
            <tr>
                <td>10+</td>
                <td>SOHO Computer Networks</td>
                <td>Proficiency in setting up in home and small business networks. Includes Routers, Gateways, and Windows Servers.</td>
            </tr>
            <tr>
                <td>10+</td>
                <td>Operating Systems</td>
                <td>Windows Desktop and Server OS, Mac, Linux</td>
            </tr>
            <tr>
                <td>10+</td>
                <td>Development Tools</td>
                <td>Visual Studio, VS Code, SQL Server Management Studio (SSMS), Notepad++, Eclipse, Netbeans, Git, Azure DevOps, JIRA, Postman, etc.</td>
            </tr>
            <tr>
                <td>8+</td>
                <td>HTML / JavaScript / CSS / Bootstrap</td>
                <td>
                    Use of HTML in the creation of ASP.NET web applications. Utilizing the features and functionality
                    of JavaScript and Cascading Style Sheets for page layout.
                    Though I have been working with front end technologies, my primary focus has been on the back end.
                </td>
            </tr>
            <tr>
                <td>7+</td>
                <td>SQL Server / T-SQL</td>
                <td>
                    Design and development of databases, stored procedures, and functions. Proficient in writing complex queries and performance tuning.
                </td>
            </tr>
            <tr>
                <td>5+</td>
                <td>Azure Cloud</td>
                <td>
                    I have experience with Azure DevOps and various Azure PaaS, SaaS technologies.
                </td>
            </tr>
            <tr>
                <td></td>
                <td>Technologies I have worked with:</td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item fw-bolder">Azure / Key Vault / Service Bus / Function &amp; Logic Apps / AI Services / SQL / Application Services / Storage / API Gateway / etc.</li>
                        <li class="list-group-item fw-bolder">Azure DevOps / VSTS / TFS</li>
                        <li class="list-group-item fw-bolder">ASP.NET / API / MVC / Web Development</li>
                        <li class="list-group-item fw-bolder">Blazor C# .NET (Light)</li>
                        <li class="list-group-item fw-bolder">C# .Net Core / Framework</li>
                        <li class="list-group-item fw-bolder">C / C++</li>
                        <li class="list-group-item fw-bolder">Docker / Kubernetes (Light)</li>
                        <li class="list-group-item fw-bolder">GitHub</li>
                        <li class="list-group-item fw-bolder">HTML / JavaScript / CSS (Moderate)</li>
                        <li class="list-group-item fw-bolder">IIS</li>
                        <li class="list-group-item fw-bolder">Java</li>
                        <li class="list-group-item fw-bolder">Jira</li>
                        <li class="list-group-item fw-bolder">MS-SQL / T-SQL</li>
                        <li class="list-group-item fw-bolder">React (Light)</li>
                        <li class="list-group-item fw-bolder">Web Services / RESTful / SOAP</li>
                        <li class="list-group-item fw-bolder">Selenium WebDriver</li>
                        <li class="list-group-item fw-bolder">Source Control / GIT / TFVS</li>
                        <li class="list-group-item fw-bolder">Terraform (Light)</li>
                        <li class="list-group-item fw-bolder">Visual Studio / VS Code / Other IDEs</li>
                        <li class="list-group-item fw-bolder">WordPress (Light to Moderate)</li>
                        <li class="list-group-item fw-bolder">XML</li>
                        <li class="list-group-item fw-bolder">YAML (Moderate)</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="row">
    <div class="col-4">
        <h2>Resume</h2>
        <p>
            Please click the link to download a copy of Michael's Resume
        </p>
        <p>
            <a class="btn btn-info btn-site" href="~/content/pdf/resume.pdf" target="_blank" rel="noopener">Resume >></a>
        </p>
    </div>
    <div class="col-4">
        <h2>Projects</h2>
        <p>
            Michael has had the opportunity to work on some amazing software applications.
        </p>
        <p>
            <a class="btn btn-info btn-site" asp-area="" asp-page="/Projects/Index">Learn more >></a>
        </p>
    </div>
    <div class="col-4">
        <h2>Skills</h2>
        <p>Michael's top skills.</p>
        <p>
            <a class="btn btn-info btn-site" asp-area="" asp-page="/Skills/Index">Learn more >></a>
        </p>
    </div>
    <div class="col-4">
        <h2>Experience</h2>
        <p>Personal experiences inside and outside the work place.</p>
        <p>
            <a class="btn btn-info btn-site" asp-area="" asp-page="/Experience/Index">Learn more >></a>
        </p>
    </div>
    <div class="col-4">
        <h2>Social Media</h2>
        <a class="btn btn-info btn-site" href="https://www.linkedin.com/in/michael-carey-13899627/" target="_blank" rel="noopener">LinkedIn >></a>
        <a class="btn btn-info btn-site" href="https://www.facebook.com/MCLifeLeader" target="_blank" rel="noopener">Facebook >></a>
        <a class="btn btn-info btn-site" href="https://www.youtube.com/c/AgameempowermentIntl" target="_blank" rel="noopener">YouTube >></a>
        <a class="btn btn-info btn-site" href="https://www.instagram.com/mclifeleader/" target="_blank" rel="noopener">Instagram >></a>
        <a class="btn btn-info btn-site" href="https://twitter.com/mclifeleader" target="_blank" rel="noopener">Twitter >></a>
        <a class="btn btn-info btn-site" href="https://github.com/MCLifeLeader" target="_blank" rel="noopener">Github >></a>
    </div>
</div>
