@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-12">
            <h1>Michael B. Carey's ePortfolio</h1>
        </div>
        <div class="col-2">
            <img class="img-fluid" src="~/content/images/fbMichael_B_Carey.jpg" title="Michael B. Carey" alt="Michael B. Carey" />
        </div>
        <div class="col-8">
            <p>
                Welcome to my "Work in Progress" ePortfolio! I'm excited that you're here! Please feel free to look around, check it out, and let me know what you think.
                I will also be updating this ePortfolio project from .Net Framework to .NET Core soon. Much of the look and feel will be similar but the
                underlying engine will be updated to current technology.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>About Me</h2>
        <p>
            Again, Welcome to my ePortfolio! I have an Entrepreneurial spirit and believe that free enterprise is a cornerstone to a successful and
            industrious society and the greatest contributor to prosperity the world over. To that end I encourage everyone who has even the slightest
            feeling or thought to create their own business, even if it is a side business, to do so! May you be prosperous in your endeavors! If you
            feel inclined please stop by and at take a look at my own business I am organizing and making progress with to get launched,
            <a class="fw-bolder" href="https://www.AGameEmpowerment.com" target="_blank" rel="noopener">A-Game Empowerment</a>.
            It has been a lot of hard work in a variety of areas well outside the range and realm of software development and engineering and has
            contributed greatly to a wide range of experiences across the gambit of business ownership.
        </p>
        <p>
            I am by no means an expert in the areas of marketing, market funnel development, or even creating products and services for customers to purchase.
            However, having been exposed to these things greatly improves my ability to understand sales, marketing, and business development as a wholistic
            creation instead of siloed in the rich but narrow field of software engineering.
        </p>
        <p>
            One of the things that I learned early on in software development and engineering is the need to understand business and business needs. Not
            necessarily everything but to learn and understand enough that I could correctly and accurately model and build business solutions that solved
            real world problems. This extended both in the areas of Quality Assurance and directly with Software Architecture and Development. The other
            part of that equation was creating those solutions in a way that was based on sound engineering principles and not just hacked together
            in some cobbled way that simply “works”. The solution must meet what is often called an “Enterprise Solution”, often meaning a stable
            and scalable solution to meet the needs of a corporation until the End of Life of the Application.
        </p>
        <p>
            Professionally, I have developed both personal and corporate large-scale applications, primarily in the web applications space, this includes
            website applications and RESTful APIs. I have successfully developed from conception to release four different web-based applications, refactored
            a SaaS application into an N-Tier structure and helped release multiple new services including a SOA Layer and Notification Service. I also paved
            the way for the development and release of a mobile application for iOS and Android.
        </p>
        <p>
            I also functioned as the development lead of six other developers working closely with the project manager where I was tasked with various
            responsibilities to accomplish our business goals. While fulfilling my software development duties I learned many DevOps based skills and became
            the release manager for software releases. I implemented multiple Continuous Integration and Deployment solutions including developing SQL
            update scripts for that could incrementally update a database to the next iteration.
        </p>
        <p>
            As the lead QA Automation Engineer, I began the implementation for a customized load testing framework for a large translation system’s
            workflow. I also had the distinct privilege of working with and mentoring an intern during that timeframe where he was tasked with testing
            a RESTful API service developed using Java.
        </p>
        <p>
            After my contract position ended, I was brought on board as a Sr. Software Engineer and Developer for Academy Mortgage Corporation in Draper, Utah.
            While there I briefly functioned as a Scrum Master and trainer in scrum methodologies while maintaining my role as a developer customizing
            their Loan Origination Software called Encompass by Ellie Mae. I later applied to become one of their IT-Managers and was accepted first as a
            working Manager and Lead for the Enterprise Development team and was later moved into the DevOps and Service Now Development Manager. A short
            time later I was asked to continue managing the DevOps team and transitioned to managing the QA Team. As manager I maintain and managed my
            team’s budget, was responsible for hiring and letting go of direct reports, performed coaching and mentoring, and performance evaluations that
            would directly result in merit increases based on performance reviews.
        </p>
    </div>
    <div class="col-4">
        <h2>Resume</h2>
        <p>
            Please click the link to download a copy of Michael's Resume
        </p>
        <p>
            <a class="btn btn-info" href="~/content/pdf/resume.pdf" target="_blank" rel="noopener" style="background:#2e86c1; color:white; font-weight:bold;">Resume >></a>
        </p>
    </div>
    <div class="col-4">
        <h2>Projects</h2>
        <p>
            Michael has had the opportunity to work on some amazing software applications.
        </p>
        <p>
            <a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-info" asp-area="" asp-page="/Projects/Index">Learn more >></a>
        </p>
    </div>
    <div class="col-4">
        <h2>Skills</h2>
        <p>Michael's top skills.</p>
        <p>
            <a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-info" asp-area="" asp-page="/Skills/Index">Learn more >></a>
        </p>
    </div>
    <div class="col-4">
        <h2>Experience</h2>
        <p>Personal experiences inside and outside the work place.</p>
        <p>
            <a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-info" asp-area="" asp-page="/Experience/Index">Learn more >></a>
        </p>
    </div>
    <div class="col-4">
        <h2>Social Media</h2>
        <a class="btn btn-info fw-bolder text-white" href="https://www.linkedin.com/in/michael-carey-13899627/" target="_blank" rel="noopener" style="background:#2e86c1; margin: 2px 2px 2px 2px;">LinkedIn >></a>
        <a class="btn btn-info fw-bolder text-white" href="https://www.facebook.com/MCLifeLeader" target="_blank" rel="noopener" style="background:#2e86c1; margin: 2px 2px 2px 2px;">Facebook >></a>
        <a class="btn btn-info fw-bolder text-white" href="https://www.youtube.com/c/AgameempowermentIntl" target="_blank" rel="noopener" style="background:#2e86c1; margin: 2px 2px 2px 2px;">YouTube >></a>
        <a class="btn btn-info fw-bolder text-white" href="https://www.instagram.com/mclifeleader/" target="_blank" rel="noopener" style="background:#2e86c1; margin: 2px 2px 2px 2px;">Instagram >></a>
        <a class="btn btn-info fw-bolder text-white" href="https://twitter.com/mclifeleader" target="_blank" rel="noopener" style="background:#2e86c1; margin: 2px 2px 2px 2px;">Twitter >></a>
        <a class="btn btn-info fw-bolder text-white" href="https://github.com/MCLifeLeader" target="_blank" rel="noopener" style="background:#2e86c1; margin: 2px 2px 2px 2px;">Github >></a>
    </div>
</div>

