@{
	ViewBag.Title = "Git Repo List";
}
<div class="row">
	<div class="col-md-12">
		<h2>@ViewBag.Title</h2>
		<h3>@ViewBag.Message</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3>ePortfolio Git Repo and Site</h3>
		<p>
			This is the repository for this ePortfolio site. You will be able to find a majority of projects and code here.
		</p>
		<p><a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-default" href="https://github.com/MCLifeLeader/ePortfolio" target="_blank">Github Repository >></a></p>
		<p><a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-default" href="http://mbcarey.com/" target="_blank">Michael Carey's ePortfolio (this site) >></a></p>
	</div>
	<div class="col-md-4">
		<h3>CIT 261 Git Repo and Site</h3>
		<p>
			This repository contains coding projects using HTML, CSS, and Javascript.
			Clicking a link below will open a new browser tab to the respective site.
		</p>
		<p><a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-default" href="https://github.com/MCLifeLeader/CareyMichael_Cs313" target="_blank">Github Repository >></a></p>
		<p><a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-default" href="http://mbcarey.com/Web/cit261" target="_blank">CIT 261 >></a></p>
	</div>
	<div class="col-md-4">
		<h3>CS 313 Git Repo and Site</h3>
		<p>
			This repository contains coding projects using PHP, HTML, CSS, Bootstrap, jQuery, SQL, and Java.
			Clicking a link below will open a new browser tab to the respective site.
		</p>
		<p><a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-default" href="https://github.com/MCLifeLeader/CareyMichael_Cs313" target="_blank">Github Repository >></a></p>
		<p><a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-default" href="https://evening-dawn-85312.herokuapp.com/" target="_blank">Heroku Hosted Site >></a></p>
	</div>
</div>
