@{
    ViewBag.Title = "Git Repo List";
}
<div class="row">
	<div class="col-md-12">		
		<h2>@ViewBag.Title.</h2>
		<h3>@ViewBag.Message</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>CS 313 Git Repo</h2>
		<p>
			This repository contains coding projects using PHP, HTML, CSS, Bootstrap, jQuery, SQL, and Java. 
			Clicking a link below will open a new browser tab to the respective site.
		</p>
		<p><a class="btn" href="https://github.com/MCLifeLeader/CareyMichael_Cs313" target="_blank">Github Repository &raquo;</a></p>
		<p><a class="btn" href="https://evening-dawn-85312.herokuapp.com/" target="_blank">Heroku Hosted Site &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>CIT 261 Git Repo</h2>
		<p>
			This repository contains coding projects using HTML, CSS, and Javascript. 
			Clicking a link below will open a new browser tab to the respective site.
		</p>
		<p><a class="btn" href="https://github.com/MCLifeLeader/CareyMichael_Cs313" target="_blank">Github Repository &raquo;</a></p>
		<p><a class="btn" href="https://evening-dawn-85312.herokuapp.com/" target="_blank">Heroku Hosted Site &raquo;</a></p>
	</div>
</div>

