@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<div class="row">
		<div class="col-12">
			<h1>Michael B. Carey's ePortfolio</h1>
		</div>
		<div class="col-2">
			<img class="img-fluid" src="~/Media/fbMichael_B_Carey.jpg" title="Michael B. Carey" alt="Michael B. Carey" />
		</div>
		<div class="col-8">
			<p>Welcome to my "Work in Progress" ePortfolio! I'm excited that you're here! Please feel free to look around, check it out, and let me know what you think.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h2>About Me</h2>
		<p>
			I have had the opportunity to develop on both personal and corporate large-scale applications, primarily in web and API services.
			During my career I have successfully developed from conception to release four different web based applications, refactored a SaaS application
			into an N-Tier structure and helped release two new services, a SOA Layer and Notification Service. I also pave the way for the development
			and release of a mobile application for iOS and Android.
		</p>
		<p>
			I also functioned as the development lead of six other developers working closely with the project manager where I was tasked with various
			responsibilities. I additionally implemented Continuous Integration with automated deployment and functioned as the release manager for all
			services, which included developing SQL update scripts for deployments.
		</p>
		<p>
			I have been a lead QA Automation Engineer where I designed and began implementation for a customized load testing framework for large
			translation system workflows. I also had the distinct privilege of working with and mentoring an intern from Weber State University in
			the testing of REST APIs and quality assurance responsibilities and duties.
		</p>
		<p>
			Most recently, I am functioning as a Scrum Master as well as the dev lead for my team as we implement solutions that speed up the loan
			process for our loan officers in the Mortgage Industry.
		</p>
	</div>
	<div class="col-4">
		<h2>Resume</h2>
		<p>
			Please click the link to download a copy of Michael's Resume
		</p>
		<p>
			<a class="btn btn-default" href="~/media/resume.pdf" target="_blank" style="background:#2e86c1; color:white; font-weight:bold;">Resume >></a>
		</p>
	</div>
	<div class="col-4">
		<h2>Projects</h2>
		<p>
			Michael has had the opportunity to work on some amazing software applications.
		</p>
		<p>
			@Html.ActionLink( "Learn more >>", "Index", "Projects", null, new { style = "background:#2e86c1; color:white; font-weight:bold;", @class = "btn btn-default" } )
		</p>
	</div>
	<div class="col-4">
		<h2>Skills</h2>
		<p>Michael's top skills.</p>
		<p>
			@Html.ActionLink( "Learn more >>", "Index", "Skills", null, new { style = "background:#2e86c1; color:white; font-weight:bold;", @class = "btn btn-default" } )
		</p>
	</div>
	<div class="col-4">
		<h2>Experience</h2>
		<p>Personal experiences inside and outside the work place.</p>
		<p>
			@Html.ActionLink( "Learn more >>", "Index", "Experience", null, new { style = "background:#2e86c1; color:white; font-weight:bold;", @class = "btn btn-default" } )
		</p>
	</div>
   <div class="col-4">
      <h2>Social Media</h2>
      <a class="btn btn-default font-weight-bolder text-white" href="https://www.linkedin.com/in/michael-carey-13899627/" target="_blank" style="background:#2e86c1; margin: 2px 2px 2px 2px;">LinkedIn >></a>
      <a class="btn btn-default font-weight-bolder text-white" href="https://www.facebook.com/MCLifeLeader" target="_blank" style="background:#2e86c1; margin: 2px 2px 2px 2px;">Facebook >></a>
      <a class="btn btn-default font-weight-bolder text-white" href="https://www.youtube.com/c/AgameempowermentIntl" target="_blank" style="background:#2e86c1; margin: 2px 2px 2px 2px;">YouTube >></a>
      <a class="btn btn-default font-weight-bolder text-white" href="https://www.instagram.com/mclifeleader/" target="_blank" style="background:#2e86c1; margin: 2px 2px 2px 2px;">Instagram >></a>
      <a class="btn btn-default font-weight-bolder text-white" href="https://twitter.com/mclifeleader" target="_blank" style="background:#2e86c1; margin: 2px 2px 2px 2px;">Twitter >></a>
   </div>
</div>
