@page
@model Portfolio.Pages.Fun.IndexModel
@{
    ViewData["Title"] = "Fun Projects";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-4">
        <h3>Ham Radio Go-Kit</h3>
        <p>This is a how to guide to build a Ham Radio Go-Kit for VHF and UHF mobile radio.</p>
        <p>
            <a class="btn btn-info btn-site" asp-area="" asp-page="/Fun/HamRadioVHFGoKit">Learn more >></a>
        </p>
    </div>
</div>