@page
@model Portfolio.Pages.Fun.IndexModel
@{
    ViewData["Title"] = "Fun Projects";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row pt-3">
    <div class="col-md-4">
        <h3>Solarian League Site</h3>
        <p>This fun project was created to help me gain further understanding in the development of front-end
            web applications using C# Blazor WebAsm and SPA. Data is sourced from Discord and an API pass through 
            Azure Function App that loads data from Blizzard.</p>
        <p>
            <a class="btn btn-info btn-site" asp-area="" asp-page="/Fun/SolarianLeague">Learn more >></a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Ham Radio Go-Kit</h3>
        <p>This is a how to guide to build a Ham Radio Go-Kit for VHF and UHF mobile radio.</p>
        <p>
            <a class="btn btn-info btn-site" asp-area="" asp-page="/Fun/HamRadioVHFGoKit">Learn more >></a>
        </p>
    </div>
</div>