@page
@model SolarianLeagueModel
@{
    ViewData["Title"] = "Solarian League";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row pt-3">
    <div class="col-md-12">
        <h3>Blazor Web Assembly Project</h3>
        <p>
            This project is a fun project that I have been working on for a while. That combines my love of the Honor Harrington series by David Weber
            and my enjoyment of playing World Of Warcraft. This project is a web application that is designed to be a home page for my
            guild in World Of Warcraft. It is a work in progress and I am adding more features and performance improvements as I have time.
        </p>
        <p>
            The additional purpose for this site is to learn and explore the capabilities of Azure and Blazor. I am using this project to learn
            how to develop a web application using Blazor and Azure. I am also using this project to learn how to use Azure Functions and
            Azure Static Web Pages. I have a strong desire to improve in my front-end development skills and this project is a great
            way to do that.
        </p>
        <p>
            Some of the Technologies utilized in its development:
            <ul class="list-group">
                <li class="list-group-item list-group-item-info fw-bolder">Azure Hosted Static Web Page</li>
                <li class="list-group-item list-group-item-info fw-bolder">Azure Function App</li>
                <li class="list-group-item list-group-item-info fw-bolder">Bootstrap</li>
                <li class="list-group-item list-group-item-info fw-bolder">C#.NET, Blazor, WebAsm, SPA</li>
                <li class="list-group-item list-group-item-info fw-bolder">Discord</li>
            </ul>
        </p>
        <p>
            <a class="btn btn-info btn-site" href="https://SolarianLeague.com/" target="_blank" rel="noopener">SolarianLeague.com >></a>
        </p>
    </div>
</div>
