html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: aliceblue;
}

a {
    color: cornflowerblue;
}

.btn-site {
    background: cornflowerblue;
    color: white;
    font-weight: bold;
    margin: 2px 2px 2px 2px;
}

[data-bs-theme="dark"] {
    --bs-body-bg: #181a1b;
    --bs-body-color: #f8f9fa;
    --bs-navbar-bg: #23272b;
    --bs-navbar-color: #f8f9fa;
    --bs-footer-bg: #23272b;
    --bs-footer-color: #adb5bd;
}
[data-bs-theme="light"] {
    --bs-body-bg: #fff;
    --bs-body-color: #212529;
    --bs-navbar-bg: #212529;
    --bs-navbar-color: #fff;
    --bs-footer-bg: #f8f9fa;
    --bs-footer-color: #212529;
}
body {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}
footer {
    background-color: var(--bs-footer-bg) !important;
    color: var(--bs-footer-color) !important;
}
.navbar {
    background-color: var(--bs-navbar-bg) !important;
    color: var(--bs-navbar-color) !important;
}
