@{
   ViewBag.Title = "Education";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-12">
      <h3 id="Cs308">BYU-Idaho</h3>
      <h4>2003 - 2021</h4>
      <p>
         You may ask, "Why such a span of time from starting college to today?" The answer: "I primarily went to college to have fun and gain an education on my own terms."
         My ultimate reason for attending college was for a personal goal and not for the scholastic need for a degree. By the time I attended college I was well on my way
         to earning my own living without the degree education provided, for me it was a personal goal that I would earn a bachelor’s degree. Not only do I believe in being
         honorable and truthful with others I work with, but I also believe that we need to honor and be truthful to ourselves first!
      </p>
   </div>
   <div class="col-md-12">
      <h3 id="Associates">Associate's Degree - General Studies</h3>
   </div>
   <div class="col-md-12">
      <h3 id="SoftwareEngineering">Bachelor's Degree - Software Engineering</h3>
      <h5>Not Yet Complete</h5>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cit261" class="list-group-item font-weight-bolder">CIT 140 - Microapplications C</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cit261" class="list-group-item font-weight-bolder">CIT 261 - Mobile Application Development</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cit370" class="list-group-item font-weight-bolder">CIT 370 - Systems Security</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cs124" class="list-group-item font-weight-bolder">CS 124 - Introduction to Computer Systems</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cs165" class="list-group-item font-weight-bolder">CS 165 - Object-Oriented Software Development</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cs213" class="list-group-item font-weight-bolder">CS 213 - Web Engineering I</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cs235" class="list-group-item font-weight-bolder">CS 235 - Data Structures</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cs246" class="list-group-item font-weight-bolder">CS 246 - Software Design and Development</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cs308" class="list-group-item font-weight-bolder">CS 308 - Technical Communication</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cs313" class="list-group-item font-weight-bolder">CS 313 - Web Engineering II</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cs364" class="list-group-item font-weight-bolder">CS 364 - Software Engineering I</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cs371" class="list-group-item font-weight-bolder">CS 371 - Human-Computer Interaction</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cs398" class="list-group-item font-weight-bolder">CS 398 - Internship</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cs416" class="list-group-item font-weight-bolder">CS 416 - Software Engineering II (Not Yet Attended)</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cs432" class="list-group-item font-weight-bolder">CS 432 - Software Engineering III (Not Yet Attended)</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cs470" class="list-group-item font-weight-bolder">CS 470 - Computer Security (Not Yet Attended)</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Cs499" class="list-group-item font-weight-bolder">CS 499 - Senior Project (Not Yet Attended)</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Ecen160" class="list-group-item font-weight-bolder">ECEN 160 - Fundamentals of Digital Systems</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Ecen324" class="list-group-item font-weight-bolder">ECEN 324 - Computer Architecture</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Eng106" class="list-group-item font-weight-bolder">ENG 106 - Basic Writing</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Eng111C" class="list-group-item font-weight-bolder">ENG 111C - Writing &amp; Reasoning Foundations</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Fdamf101" class="list-group-item font-weight-bolder">FDAMF 101 - American Foundations</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Fdca202" class="list-group-item font-weight-bolder">FDCA 202 - The Developing World</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Fdeng201" class="list-group-item font-weight-bolder">FDENG 201 - Advanced Writing and Research</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Fdhum110" class="list-group-item font-weight-bolder">FDHUM 110 - Foundations of Humanities</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Fdrel121" class="list-group-item font-weight-bolder">FDREL 121 - Book of Mormon I</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Fdrel122" class="list-group-item font-weight-bolder">FDREL 122 - Book of Mormon II</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Fdrel200" class="list-group-item font-weight-bolder">FDREL 200 - The Eternal Family</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Fdrel212" class="list-group-item font-weight-bolder">FDREL 212 - New Testament</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Fdrel225" class="list-group-item font-weight-bolder">FDREL 225 - Foundations of the Restoration (Not Yet Attended)</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Fdrel250" class="list-group-item font-weight-bolder">FDREL 250 - Jesus Christ Everlasting Gospel (Not Yet Attended)</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Fdrel324" class="list-group-item font-weight-bolder">FDREL 324 - Doctrine and Covenants</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Fdsci101" class="list-group-item font-weight-bolder">FDSCI 101 - Science Foundations</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Fdsci201" class="list-group-item font-weight-bolder">FDSCI 201 - Natural Disasters</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Fdsci205" class="list-group-item font-weight-bolder">FDSCI 205 - DNA: Identity, Disease, Design</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Hist201" class="list-group-item font-weight-bolder">HIST 201 - World Civilization to 1500</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Hum201" class="list-group-item font-weight-bolder">HUM 201 - West Culture: PreHistory - Renaissance</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Hum202" class="list-group-item font-weight-bolder">HUM 202 - West Culture: Renaissance - Modern</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="IS240" class="list-group-item font-weight-bolder">IS 240 - Networking</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Math110" class="list-group-item font-weight-bolder">MATH 110 - College Algebra</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Math111" class="list-group-item font-weight-bolder">MATH 111 - Trigonometry</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Math112" class="list-group-item font-weight-bolder">MATH 112 - Calculus I</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Math221" class="list-group-item font-weight-bolder">MATH 221 - Business Statistics</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Music158D" class="list-group-item font-weight-bolder">MUSIC 158D - Music Lessions - Non-Majors: Voice</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Music158V" class="list-group-item font-weight-bolder">MUSIC 158V - Composition</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Music315" class="list-group-item font-weight-bolder">MUSIC 315 - Men's Choir</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Music312" class="list-group-item font-weight-bolder">MUSIC 312 - University Choir</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Music320" class="list-group-item font-weight-bolder">MUSIC 320 - Chamber Choir</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Polsc110" class="list-group-item font-weight-bolder">POLSC 110 - American Government</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-4">
      <ul class="list-group">
         <li id="Rel341" class="list-group-item font-weight-bolder">REL 341 - LDS History from 1805-1844</li>
         <li class="list-group-item">
            Concepts<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 1</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Item 2</li>
            </ul>
         </li>
      </ul>
   </div>
</div>
