@{
   ViewBag.Title = "Education";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-12">
      <h3 id="Cs308">BYU-Idaho</h3>
      <h4>2003 - 2021</h4>
      <p>
         You may ask, "Why such a span of time from starting college to today?" The answer: "I primarily went to college to have fun and gain an education on my own terms."
         My ultimate reason for attending college was for a personal goal and not for the scholastic need for a degree. By the time I attended college I was well on my way
         to earning my own living without the degree education provided, for me it was a personal goal that I would earn a bachelor’s degree. Not only do I believe in being
         honorable and truthful with others I work with, but I also believe that we need to honor and be truthful to ourselves first!
      </p>
   </div>
   <div class="col-md-12">
      <h3 id="Associates">Associate's Degree - General Studies - 2012</h3>
   </div>
   <div class="col-md-12">
      <h3 id="SoftwareEngineering">Bachelor's Degree - Software Engineering - 2021</h3>
   </div>
</div>
