@{
   ViewBag.Title = "Experience";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-4">
      <h3>Education</h3>
      <p>This is a deeper dive into my scholastic education and college experience.</p>
      <p>
         @Html.ActionLink("Learn more >>", "Education", "Experience", null, new { style = "background:#2e86c1; color:white; font-weight:bold;", @class = "btn btn-info" })
      </p>
   </div>
   <div class="col-md-4">
      <h3>Work History</h3>
      <p>This details my work history and various employment opportunities that I had.</p>
      <p>
         @Html.ActionLink("Learn more >>", "WorkHistory", "Experience", null, new { style = "background:#2e86c1; color:white; font-weight:bold;", @class = "btn btn-info" })
      </p>
   </div>
</div>
