@page
@model Portfolio.Pages.Projects.AdverTranModel
@{
    ViewData["Title"] = "AdverTran";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-12">
        <h3>AdverTran Project 2007</h3>
        <p>
            This was a collaborative project that I started and developed in 2007 to assist Hatch Marketing in their on-screen theater
            advertising to replace a product called Ovation. Its use is for creating and managing playlists for onscreen advertising
            in theaters or other locations for digital media and content advertising. Using Carey and Associates as the brand holder
            for the technology we completed development and established copyright and trademark for the AdverTran brand.
        </p>
        <p>
            The project eventually expanded and a marketing campaign was launched to see if we could release the product beyond Hatch's
            use for other theater advertising agencies. Unfortunately, in 2008 the down turn in the economy brought this project to
            a close after running successfully for Hatch Marketing for a year. Sadly, Hatch Marketing closed its doors and AdverTran's
            use came to an end. Though the product has been mothballed at this time resurrecting the project would not be extremely
            difficult and future plans for the service are under way.
        </p>
    </div>
    <div class="col-md-6">
        <h3>Summary</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-info fw-bolder">ASP.NET C#</li>
            <li class="list-group-item list-group-item-info fw-bolder">Web API / SOAP / WSDL</li>
            <li class="list-group-item list-group-item-info fw-bolder">MS SQL</li>
            <li class="list-group-item list-group-item-info fw-bolder">SaaS based Service</li>
            <li class="list-group-item list-group-item-info fw-bolder">Java Client Controller on Mac OS</li>
            <li class="list-group-item list-group-item-info fw-bolder">Custom Mac Media Player</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Links</h3>
        <p>
            <a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-info" href="http://advertran.com" target="_blank" rel="noopener">AdverTran.com >></a>
        </p>
        @*
        <p>
        <a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-info" href="http://advertran.com/advertran" target="_blank" rel="noopener">AdverTran.com/AdverTran Application >></a>
        </p>
        <p>
        <a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-info" href="http://advertran.com/advertransrvs" target="_blank" rel="noopener">AdverTran.com/AdverTran WebService >></a>
        </p>
        *@
    </div>
</div>
