@page
@model Portfolio.Pages.Projects.AGameEmpowermentModel
@{
    ViewData["Title"] = "A Game Empowerment";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row pt-3">
    <div class="col-md-12">
        <h3>Develop Software and Mentoring 2016 - Present</h3>
        <p>
            A Game Empowerment, LLC. is a custom development company that is creating custom SaaS solutions for a diverse clientele of
            entrepreneurs and personal development seekers of educational and self-betterment materials and services.
            The primary website is the company home page and gateway to products and services offered by A Game Empowerment such as eCourses and custom
            software solutions. As A Game Empowerment grows we will expand into other solutions based services and training that helps every day
            individual and entrepreneurs. A Game Empowerment's long term goal is to bring the power of Mentoring to the next level through selective
            use of technological advances in AI and Machine learning where by assisting the Mentor, Coach, or Councilor in their role helping to improve
            the lives of those clients they are guiding and helping day to day.
        </p>
        <p>
            Some of the Technologies utilized in its development:
            <ul class="list-group">
                <li class="list-group-item list-group-item-info fw-bolder">Azure Hosted</li>
                <li class="list-group-item list-group-item-info fw-bolder">Azure Message Bus</li>
                <li class="list-group-item list-group-item-info fw-bolder">C#.NET</li>
                <li class="list-group-item list-group-item-info fw-bolder">Entity Framework, Unit of Work, Repository Models</li>
                <li class="list-group-item list-group-item-info fw-bolder">PayPal Merchant API</li>
                <li class="list-group-item list-group-item-info fw-bolder">RESTful API Web Service</li>
                <li class="list-group-item list-group-item-info fw-bolder">Sendgrid</li>
                <li class="list-group-item list-group-item-info fw-bolder">SQL Server</li>
                <li class="list-group-item list-group-item-info fw-bolder">Twilio</li>
                <li class="list-group-item list-group-item-info fw-bolder">WordPress</li>
            </ul>
        </p>
        <p>
            <a class="btn btn-info btn-site" href="https://AGameEmpowerment.com/" target="_blank" rel="noopener">AGameEmpowerment.com >></a>
            <a class="btn btn-info btn-site" href="https://api.AGameEmpowerment.com/" target="_blank" rel="noopener">api.AGameEmpowerment.com >></a>
        </p>
    </div>
</div>
