@page
@model Portfolio.Pages.Projects.MlmLinkupModel
@{
    ViewData["Title"] = "MLMLinkup";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-12">
        <h3>MLMLinkup Project 2016</h3>
        <p>
            As a developer, it is important to function in all capacities within and without the application stack.
            My predominant skills have been developed primarily for the coding in the lower layers of most applications.
            Because of this I have gained a great deal of proficiency and experience in the lower layers of application
            development methods and architecture.
        </p>
        <p>
            Rounding out my skills was a paramount importance for me and is still a work in progress.
            A number of development firms are seeking those developers who have strong developmental skills in all layers of the
            application stack and lifecycle. MLMLinkup is my playground for learning front end development and building out my
            portfolio as a full stack developer.
        </p>
        <p>
            Some of the Technologies utilized in its development:
            <ul class="list-group">
                <li class="list-group-item list-group-item-info fw-bolder">Azure Hosted</li>
                <li class="list-group-item list-group-item-info fw-bolder">Bootstrap, jQuery</li>
                <li class="list-group-item list-group-item-info fw-bolder">C#.NET, MVC Razor, ASP.NET</li>
                <li class="list-group-item list-group-item-info fw-bolder">Entity Framework, Unit of Work, Repository Models</li>
                <li class="list-group-item list-group-item-info fw-bolder">Enabled <a href="https://letsencrypt.org/" target="_blank" rel="noopener">Let's Encrypt</a> on Azure Web Applications</li>
                <li class="list-group-item list-group-item-info fw-bolder">PayPal Merchant API</li>
                <li class="list-group-item list-group-item-info fw-bolder">reCAPTCHA</li>
                <li class="list-group-item list-group-item-info fw-bolder">Sendgrid</li>
                <li class="list-group-item list-group-item-info fw-bolder">SQL Server</li>
                <li class="list-group-item list-group-item-info fw-bolder">Twilio</li>
                <li class="list-group-item list-group-item-info fw-bolder">Wordpress</li>
            </ul>
        </p>
        @*
        <p>
        <a class="btn btn-info btn-site" href="https://MLMLinkup.com/" target="_blank" rel="noopener">MLMLinkup.com >></a>
        </p>
        *@
    </div>
    <div class="col-md-12">
        <h3>MLMLinkup Project 2019</h3>
        <p>
            I was not fully satisfied with the MLMLinkup product and went back to the drawing board and is currently under development. With the assistance
            of Russell W. Carey I am making a whole new approach to the UX / UI design and streamlining a number of the technological services that were originally
            baked into the MLMLinkup service. In this iteration I am moving the majority of services and jobs out of the MLMLinkup code base and into their own
            web services under the owner company, A Game Empowerment.
        </p>
        <p>
            <a class="btn btn-info btn-site" asp-area="" asp-page="/Projects/AGameEmpowerment">Learn more >></a>
        </p>
        <p>
            This service is a multi part service and is made of two compontents. The primary service is the MLMLinkup.com website. This is the primary marketing site for
            Direct Sales Associates and Network Marketers. The second part is vip.MLMLinkup.com. This wordpress site is designed to be a marketing funnel to help draw in
            direct sales members looking to advertise thier business, individuals looking to do research, and finally individuals looking to purchase products from a sales
            associate.
        </p>
        <p>
            Some of the Technologies utilized in its development:
            <ul class="list-group">
                <li class="list-group-item list-group-item-info fw-bolder">Azure Hosted</li>
                <li class="list-group-item list-group-item-info fw-bolder">Bootstrap, jQuery</li>
                <li class="list-group-item list-group-item-info fw-bolder">C# .NET Core / MVC</li>
                <li class="list-group-item list-group-item-info fw-bolder">Entity Framework, IUnit of Work, Repository Models</li>
                <li class="list-group-item list-group-item-info fw-bolder">SQL Server</li>
                <li class="list-group-item list-group-item-info fw-bolder">reCAPTCHA</li>
                <li class="list-group-item list-group-item-info fw-bolder">Wordpress</li>
            </ul>
        </p>
        @*
        <p>
        <a class="btn btn-info btn-site" href="https://MLMLinkup.com/" target="_blank" rel="noopener">MLMLinkup.com >></a>
        <a class="btn btn-info btn-site" href="https://vip.MLMLinkup.com/" target="_blank" rel="noopener">vip.MLMLinkup.com >></a>
        </p>
        *@
    </div>
</div>
