/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
   white-space: normal;
   text-align: center;
   word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
   font-size: 14px;
}

@media (min-width: 768px) {
   html {
      font-size: 16px;
   }
}

.border-top {
   border-top: 1px solid #e5e5e5;
}

.border-bottom {
   border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
   box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
   font-size: 1rem;
   line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
   position: relative;
   min-height: 100%;
}

body {
   /* Margin bottom by footer height */
   margin-bottom: 60px;
}

.footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   white-space: nowrap;
   /* Set the fixed height of the footer here */
   height: 60px;
   line-height: 60px; /* Vertically center the text there */
}

.box {
   margin: auto
}

.card {
   padding: 8%;
   padding-top: 35px;
   margin-top: 60px;
   margin-bottom: 80px
}

textarea[name="message"] {
   resize: none
}

#e-mail {
   height: 45px
}

#message {
   height: 120px
}

input.input-box,
textarea.input-box {
   background-color: #616161;
   border: #616161;
   color: #BDBDBD
}

input.input-box:focus,
textarea.input-box:focus {
   background-color: #000000;
   color: #BDBDBD
}

.rm-border:focus {
   border-color: inherit;
   -webkit-box-shadow: none;
   box-shadow: none
}

form .form-control::-webkit-input-placeholder {
   color: #9E9E9E
}

::-moz-placeholder {
   color: #9E9E9E !important
}

input.btn-purple {
   background-color: #5C6BC0;
   color: #ffffff
}