@{
	ViewBag.Title = "AdverTran";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-12">
		<h3>AdverTran Project</h3>
		<p>
			This was a collaborative project that I started and developed in 2007 to assist Hatch Marketing in their on-screen theater
			advertising to replace a product called Ovation. Its use is for creating and managing playlists for onscreen advertising
			in theaters or other locations for digital media and content advertising. Using Carey and Associates as the brand holder
			for the technology we completed development and established copyright and trademark for the AdverTran brand.
		</p>
		<p>
			The project eventually expanded and a marketing campaign was launched to see if we could release the product beyond Hatch's
			use for other theater advertising agencies. Unfortunately, in 2008 the down turn in the economy brought this project to
			a close after running successfully for Hatch Marketing for a year. Sadly, Hatch Marketing closed its doors and AdverTran's
			use came to an end.
		</p>
		<p>
			<a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="http://advertran.com" target="_blank">AdverTran.com >></a>
		</p>
		<p>
			<a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="http://advertran.com/advertran" target="_blank">AdverTran.com/AdverTran Application >></a>
		</p>
		<p>
			<a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="http://advertran.com/advertransrvs" target="_blank">AdverTran.com/AdverTran WebService >></a>
		</p>
	</div>
</div>
