@{
   ViewBag.Title = "A Game Empowerment";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
   <div class="col-md-12">
      <h3>Develop Software and Mentoring 2016 - Present</h3>
      <p>
         A Game Empowerment, LLC. is a custom development company that is creating custom SaaS solutions for a diverse clientel of
         entrepreneures and personal development seekers of educational and self-betterment materials and services.
         The primary website is the company home page and gateway to products and services offered by A Game Empowerment such as eCourses and custom
         software solutions. As A Game Empowerment grows we will expand into other solutions based services and training that helps the every day
         individual and entrepreneure. A Game Empowerment's long term goal is to bring the power of Mentoring to the next level through selective
         use of technoligcal advances in AI and Machine learning where by assisting the Mentor, Coach, or Counciler in their role helping to improve 
         the lives of those clients they are guiding and helping day to day.
      </p>
      <p>
         Some of the Technologies utilized in its development:
         <ul class="list-group">
            <li class="list-group-item">Azure Hosted</li>
            <li class="list-group-item">Azure Message Bus</li>
            <li class="list-group-item">C#.NET</li>
            <li class="list-group-item">Entity Framework, Unit of Work, Repository Models</li>
            <li class="list-group-item">PayPal Merchant API</li>
            <li class="list-group-item">RESTful API Web Service</li>
            <li class="list-group-item">Sendgrid</li>
            <li class="list-group-item">SQL Server</li>
            <li class="list-group-item">Twilio</li>
            <li class="list-group-item">Wordpress</li>
         </ul>
      </p>
      <p>
         <a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="https://AGameEmpowerment.com/" target="_blank">AGameEmpowerment.com >></a>
         <a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="https://api.AGameEmpowerment.com/" target="_blank">api.AGameEmpowerment.com >></a>
      </p>
   </div>
</div>
