@{
	ViewBag.Title = "CIT 261";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-12">
		<h3>CIT 261 Project</h3>
		<p>
			CIT 261 Project work space. This is an example of class work that covered front end UI development without the use of libraries or tools.
			This project used vanilla JavaScript and CSS.
		</p>
		<p><a class="btn btn-default" href="http://mbcarey.com/web/cit261" target="_blank">CIT 261 Site &raquo;</a></p>
	</div>
</div>
