@{
	ViewBag.Title = "CS 313";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-12">
		<h3>CS 313 Project</h3>
		<p>
			CS 313 SChool Project work space. This is an example of class work that covered PHP and Java full stack development.
			This project included the use of Bootstrap, jQuery, and other optional libraries.
		</p>
		<p><a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-default" href="https://evening-dawn-85312.herokuapp.com/" target="_blank">CS 313 PHP Site >></a></p>
		<p><a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-default" href="https://hidden-plateau-66868.herokuapp.com/" target="_blank">CS 313 Java Site >></a></p>
	</div>
</div>
