@{
	ViewBag.Title = "CS 313";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-12">
		<h3>CS 313 PHP Project 2017</h3>
		<p>
			This class project work highlights class assignment work utilizing the PHP programming language. I was able to learn and gain a foundational understanding
			of the PHP programming lanague and how to use it with various databases. The primary database engine that I used was PostgreSQL.
			This project included the use of Bootstrap, jQuery, PostgreSQL and other optional libraries.
		</p>
		<p>
			<a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="https://evening-dawn-85312.herokuapp.com/" target="_blank">CS 313 PHP Site >></a>
		</p>
	</div>
	<div class="col-md-12">
		<h3>CS 313 Java</h3>
		<p>
			This second class project space was utilizing the Java programming language. I implemented standard Java Server Pages and various servlets to accomplish 
			class assignments. I used the Netbeans IDE and maven for building the Java applications.
			This project included the use of Maven, Bootstrap, jQuery, and database technologies.
		</p>
		<p>
			<a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="https://hidden-plateau-66868.herokuapp.com/" target="_blank">CS 313 Java Site >></a>
		</p>
	</div>
	<div class="col-md-12">
		<h3>CS 313 Team Project</h3>
		<p>
			This is an example of our CS 313 Team project written in Java.
			This project included the use of Google APIs, Bootstrap, jQuery, and other optional libraries.
		</p>
		<p>
			<a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="https://cs313team.herokuapp.com/" target="_blank">CS 313 Team Project >></a>
		</p>
	</div>
</div>
