@{
	ViewBag.Title = "Ellie Mae Encompass";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-12">
		<h3>Ellie Mae Encompass</h3>
		<p>
			The Encompass application work that I am doing for Academy Mortgage can be split into two different categories. The first can be classified as Windows application customizations
			and the second would be SDK level customizations.
			<ul class="list-group">
				<li class="list-group-item">Item 1</li>
				<li class="list-group-item">Item 2</li>
			</ul>
		</p>
	</div>
	<div class="col-md-12">
		<h3>Ellie Mae Encompass Next Gen</h3>
		<p>
			I have not had a chance to work with the Encompass Next Gen platform yet. I will include details here once I have a chance to do so.
		</p>
	</div>
</div>
