@{
	ViewBag.Title = "Ellie Mae Encompass";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-12">
		<h3>Ellie Mae Encompass</h3>
		<p>
			Ellie Mae Encompass details here
		</p>
	</div>
</div>
