@{
    ViewBag.Title = "Ellie Mae Encompass";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-12">
        <h3>About Encompass</h3>
        <p>
            Encompass by Ellie Mae is a mortgage loan auditing software package designed to facilitate the loan origination process so that both the originator
            and the borrower can meet specific government guidelines including proper underwriting necessary to reduce risk on the loan originated. Another
            very important part of the Encompass software is to speed up the whole origination process. As of November 2017 loan origination took on average about
            <a href="https://elliemae.com/mortgage-data/origination-insight-reports" target="_blank">43 days</a> to close.
        </p>
        <p>
            It is the goal of every lending company to reduce the number of days as close to the government mandated minimum as possible. Which will greatly
            increase the revenue possible for lenders and investors. Another very important aspect of speeding up the lending process is so that borrowers can
            close on their purchases faster enabling them to enjoy the fruits of their efforts.
        </p>
        <p>
            Working for Academy Mortgage I leverage the Ellie Mae Encompass platform in my development efforts. This includes customized plugins and SDK
            development that improves and increases the speed to lending for loan Academy including the speed at which a loan can be purchased by a third
            party investor.
        </p>
        <p>
            Encompass is a .NET application and runs on the Windows operating system and includes custom SDK and UX/UI development components. Writing custom
            plugins allows the augmentation of the Encompass application and supports custom Win Form development and customized event driven logic to be executed
            as needed. Through the SDK almost every aspect of the application’s data can be inspected or manipulated in one way or another. In effect the SDK is
            flexible enough that a whole new application could be implemented without requiring the Encompass Application at all.
        </p>
        <p>
            Through customized SDK development data sync pipelines have been implemented that allow transferring of information through automated processes in
            a bidirectional manner. This gives us the ability to leverage data in house creating rich reporting for our data analysts and provides us with the
            ability to update loan data in bulk in an on demand way.
        </p>
    </div>
    <div class="col-md-12">
        <h3>Encompass Plugin Development</h3>
        <p>
            When creating plugins for Encompass it is important to note that they should be developed as a windows class library. Once complied the DLL is
            uploaded through a plugin import utility and the Encompass service saves the DLL in a cache folder on the Ellie Mae servers. When the Encompass
            application launches it looks to this public cache folder for any customizations and files that were uploaded. Each client application that launches
            will download the updates, replacing any older versions with the latest and loads said customization through reflection.
            The primary advantage of plugin development is the ability to customize the UX/UI experience of the loan officers and company employees as they use Encompass.
            It also allows us to leverage event driven trigger logic to handle data changes on the fly as the user is directly accessing and leveraging the client.
            Lastly, no specialized connection context needs to be created when using plugins. The active plugin executes within the context of the Encompass Client
            and active user's credentials.
        </p>
        <p>
            Some of the Technologies utilized:
            <ul class="list-group">
                <li class="list-group-item">C#.NET</li>
                <li class="list-group-item">WinForms</li>
                <li class="list-group-item">Reflection</li>
            </ul>
        </p>
    </div>
    <div class="col-md-12">
        <h3>Encompass SDK Development</h3>
        <p>
            SDK Development outside of plugin code is handled a little differently. The primary difference is creating a standalone executable application that is
            launched natively instead of being complied as a DLL and executed through reflection from within the Encompass desktop client. When establishing a
            connection context to Ellie Mae’s server, the SDK handles the majority of the connection process except that the developer must reference the correct
            Encompass hosted server URI and user credentials of the dedicated service account that grants access to interact with Encompass resources. Once this
            connection is established front and back end connection contexts can be created allowing for direct interaction with Encompass data objects or remoting
            calls directly to the server.
        </p>
        <p>
            Some of the Technologies utilized:
            <ul class="list-group">
                <li class="list-group-item">C# .NET Core</li>
                <li class="list-group-item">Docker</li>
                <li class="list-group-item">DocuSign API</li>
                <li class="list-group-item">Entity Framework, IUnit of Work, Repository Models</li>
                <li class="list-group-item">Console Service Application</li>
                <li class="list-group-item">SQL Server</li>
                <li class="list-group-item">Web API / REST</li>
            </ul>
        </p>
    </div>
    <div class="col-md-12">
        <h3>Encompass Next Gen</h3>
        <p>
            Ellie Mae is currently developing a whole new platform that will increase their existing flexibility in the market. This NG platform will enable
            a wider range of customizations and giving us the ability to meet the emerging demands of the competitive market. As I learn more about the Encompass
            NG platform coming in 2018 I will update those details here.
        </p>
    </div>
</div>
