@{
	ViewBag.Title = "Ellie Mae Encompass";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-12">
		<h3>Ellie Mae Encompass</h3>
		<p>
			The Encompass application work that I am doing for Academy Mortgage can be split into two different categories. The first can be classified as Windows Application
			Customizations and the second would be SDK level customizations.
		</p>
		<p>
			The first part of my Encompass customizations comes in the form of Windows Application Customizations which is performed through plugins. 
			The application customization work that I performed was for Academy Mortgage. The Encompass Application has extensive plugin support 
			that allows developers to customize the user experience for the loan officers, underwriters,
			or other key personnel in the loan origination process. These customizations consist of hooks into the windows and encompass events pipeline to
			perform various actions based on user actions. Additionally, several customized plugins also interact in various ways using reflection. In one
			case we grab a default window form and then reflect that window frame so as to modify the layout of the form. This modification of UX/UI allows us
			the flexibility to provide an extended behavior set to our end users.
		</p>
		<p>
			The second part of my Encompass customizations is through the Encompass SDK and web services logic.
		</p>
		<ul class="list-group">
			<li class="list-group-item">Item 1</li>
			<li class="list-group-item">Item 2</li>
		</ul>
	</div>
	<div class="col-md-12">
		<h3>Ellie Mae Encompass Next Gen</h3>
		<p>
			I have not had a chance to work with the Encompass Next Gen platform yet. I will include details here once I have a chance to do so. This framework
			should be fully avialble by 2018.
		</p>
	</div>
</div>
