@{
	ViewBag.Title = "Family Key";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-12">
        <h3>Genealogy and Family History Presentation</h3>
		<p>
		    The Family Key project was developed as a partnership under Kumusoft, LLC in 2002 to be a hosted genealogical site for people’s family history. 
		    The idea was to provide rich media and family stories of ancestors and enabling services, such as Google, to be able to index the content 
		    for these family members seeking to publish their family’s history. Sadly there was a failure in the partnership and the company 
            dissolved leaving us with nothing.
		</p>
		<p>
			Some of the Technologies utilized in its development:
            <ul class="list-group">
                <li class="list-group-item list-group-item-info font-weight-bolder">C#.NET, Webforms, ASP.NET</li>
                <li class="list-group-item list-group-item-info font-weight-bolder">IIS</li>
                <li class="list-group-item list-group-item-info font-weight-bolder">SQL</li>
            </ul>
		</p>
		<p>
			Family Key is no longer an active product or being hosted on any public servers at this time.
		</p>
	</div>
</div>
