@{
	ViewBag.Title = "Family Key";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-12">
		<h3>FamilyKey 2002</h3>
		<p>
			The Family Key project was developed as a partnership under Kumusoft, LLC.
		</p>
		<p>
		</p>
		<p>
			Some of the Technologies utilized in its development:
			<ul class="list-group">
				<li class="list-group-item">C#.NET, Webforms, ASP.NET</li>
			</ul>
		</p>
		<p>
			<a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="https://MLMLinkup.com/" target="_blank">MLMLinkup.com >></a>
		</p>
	</div>
</div>
