@{
	ViewBag.Title = "MLMLinkup";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-12">
		<h3>MLMLinkup Project 2016</h3>
		<p>
			As a developer, it is important to function in all capacities within and without the application stack.
			My predominant skills have been developed primarily for the coding in the lower layers of most applications.
			Because of this I have gained a great deal of proficiency and experience in the lower layers of application
			development methods and architecture.
		</p>
		<p>
			Rounding out my skills was a paramount importance for me and is still a work in progress.
			A number of development firms are seeking those developers who have strong developmental skills in all layers of the
			application stack and lifecycle. MLMLinkup is my playground for learning front end development and building out my
			portfolio as a full stack developer.
		</p>
		<p>
			Some of the Technologies utilized in its development:
			<ul class="list-group">
				<li class="list-group-item">C#.NET, MVC Razor, ASP.NET</li>
				<li class="list-group-item">Bootstrap, jQuery</li>
				<li class="list-group-item">Entity Framework, IUnit of Work, Repository Models</li>
				<li class="list-group-item">SQL Server</li>
				<li class="list-group-item">PayPal Merchant API</li>
				<li class="list-group-item">Sendgrid</li>
				<li class="list-group-item">Twilio</li>
				<li class="list-group-item">Azure Hosted</li>
			</ul>
		</p>
		<p>
			<a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="https://MLMLinkup.com/" target="_blank">MLMLinkup.com >></a>
		</p>
	</div>
</div>
