@{
   ViewBag.Title = "MLMLinkup";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
   <div class="col-md-12">
      <h3>MLMLinkup Project 2016</h3>
      <p>
         As a developer, it is important to function in all capacities within and without the application stack.
         My predominant skills have been developed primarily for the coding in the lower layers of most applications.
         Because of this I have gained a great deal of proficiency and experience in the lower layers of application
         development methods and architecture.
      </p>
      <p>
         Rounding out my skills was a paramount importance for me and is still a work in progress.
         A number of development firms are seeking those developers who have strong developmental skills in all layers of the
         application stack and lifecycle. MLMLinkup is my playground for learning front end development and building out my
         portfolio as a full stack developer.
      </p>
      <p>
         Some of the Technologies utilized in its development:
         <ul class="list-group">
            <li class="list-group-item">Azure Hosted</li>
            <li class="list-group-item">Bootstrap, jQuery</li>
            <li class="list-group-item">C#.NET, MVC Razor, ASP.NET</li>
            <li class="list-group-item">Entity Framework, Unit of Work, Repository Models</li>
            <li class="list-group-item">PayPal Merchant API</li>
            <li class="list-group-item">reCAPTCHA</li>
            <li class="list-group-item">Sendgrid</li>
            <li class="list-group-item">SQL Server</li>
            <li class="list-group-item">Twilio</li>
            <li class="list-group-item">Wordpress</li>
         </ul>
      </p>
      <p>
         <a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="https://MLMLinkup.com/" target="_blank">MLMLinkup.com >></a>
      </p>
   </div>
   <div class="col-md-12">
      <h3>MLMLinkup Project 2019</h3>
      <p>
         I was not fully satisfied with the MLMLinkup product and went back to the drawing board and is currently under development. With the assistance
         of Russell W. Carey I am making a whole new approach to the UX / UI design and streamlining a number of the technological services that were originally
         baked into the MLMLinkup service. In this iteration I am moving the majority of services and jobs out of the MLMLinkup code base and into their own
         web services under the owner company, A Game Empowerment.
         
         @Html.ActionLink("Learn more >>", "AGameEmpowerment", "Projects", null, new { style = "background:#2e86c1; color:white; font-weight:bold;", @class = "btn btn-default" })
      </p>
      <p>
         This service is a multi part service and is made of two compontents. The primary service is the MLMLinkup.com website. This is the primary marketing site for
         Direct Sales Associates and Network Marketers. The second part is vip.MLMLinkup.com. This wordpress site is designed to be a marketing funnel to help draw in
         direct sales members looking to advertise thier business, individuals looking to do research, and finally individuals looking to purchase products from a sales
         associate.
      </p>
      <p>
         Some of the Technologies utilized in its development:
         <ul class="list-group">
            <li class="list-group-item">Azure Hosted</li>
            <li class="list-group-item">Bootstrap, jQuery</li>
            <li class="list-group-item">C# .NET Core / MVC</li>
            <li class="list-group-item">Entity Framework, IUnit of Work, Repository Models</li>
            <li class="list-group-item">SQL Server</li>
            <li class="list-group-item">reCAPTCHA</li>
            <li class="list-group-item">Wordpress</li>
         </ul>
      </p>
      <p>
         <a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="https://MLMLinkup.com/" target="_blank">MLMLinkup.com >></a>
         <a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="https://vip.MLMLinkup.com/" target="_blank">vip.MLMLinkup.com >></a>
      </p>
   </div>
</div>
