@{
	ViewBag.Title = "MLMLinkup";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-12">
		<h3>MLMLinkup Project</h3>
		<p>
			This project is one that I personally developed in 2016 using C#.NET, MVC, Bootstrap, and other available libraries. It's primary purpose was
			to help me learn the ins and outs of UI development specifically utilizing Bootstrap for the beautification and usability of the site.
		</p>
		<p><a style="background:#2e86c1; color:white; font-weight:bold;" class="btn btn-default" href="https://MLMLinkup.com/" target="_blank">MLMLinkup.com >></a></p>
	</div>
</div>
