@{
	ViewBag.Title = "Redhead Mobile Apps";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-12">
		<h3>Redhead Mobile Project 2017</h3>
		<p>
		    Redhead mobile apps provides custom mobile applications for Independent Insurance Agencies. 
		    The work that was undertaken was to update their API services to enable expansion of their products and services and increase 
		    the overall performance of their product. The primary data that they were attempting to include was a merger with QQ Catalyst
		    and the older Vertafore APIs. Unfortunately, the project was ended when the costs related to licensing the Vertafore 
            API’s was going to be too high.
		</p>
		<p>
			<a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="http://www.redheadmobileapps.com" target="_blank">RedheadMobileApps.com >></a>
		</p>
		<p>
			<a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="http://dev.mbcarey.com/Redhead/" target="_blank">Development Dashboard >></a>
		</p>
		<p>
			<a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="http://redheadapi.mbcarey.com/" target="_blank">Development API >></a>
		</p>
	</div>
</div>
