@{
	ViewBag.Title = "Redhead Mobile Apps";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-12">
		<h3>Redhead Mobile Project</h3>
		<p>
			Redhead mobile details here
		</p>
		<p>
			<a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="http://redheadmobileapps.com" target="_blank">RedheadMobileApps.com >></a>
		</p>
		<p>
			<a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="https://kb7ppbweb.azurewebsites.net/" target="_blank">Development Dashboard >></a>
		</p>
		<p>
			<a style="background: #2e86c1; color: white; font-weight: bold;" class="btn btn-default" href="https://kb7ppbwebapi.azurewebsites.net/" target="_blank">Development API >></a>
		</p>
	</div>
</div>
