@{
	ViewBag.Title = "Experience";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-4">
		<h3>LDS Church Contract</h3>
		<h4>Sr. QA Automation Engineer</h4>
		<p>November 2014 - November 2016</p>
		<p>
			Summary of experience working for LDS Church
		</p>
	</div>
	<div class="col-md-4">
		<h3>Swipeclock</h3>
		<h4>Sr. Software Developer</h4>
		<p>March 2013 - Oct 2014</p>
		<p>
			Summary of experience working for Swipeclock
		</p>
	</div>
	<div class="col-md-4">
		<h3>LDS Church Contract</h3>
		<h4>Sr. QA Automation Engineer</h4>
		<p>March 2011 - March 2013</p>
		<p>
			Summary of experience working for LDS Church
		</p>
	</div>
</div>
