@{
	ViewBag.Title = "Experience";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-4">
		<h3>Kumusoft</h3>
		<h4>Member Owner</h4>
		<h4>Software Engineer</h4>
		<p>January 2002 - September 2005</p>
		<ul class="list-group">
			<li class="list-group-item">Summary of experience working for Kumusoft</li>
		</ul>
	</div>
	<div class="col-md-4">
		<h3>Carey And Associates</h3>
		<h4>Member Owner</h4>
		<h4>Software Architect</h4>
		<p>April 2007 - Current</p>
		<ul class="list-group">
			<li class="list-group-item">Summary of experience working for Carey And Associates</li>
		</ul>
	</div>
	<div class="col-md-4">
		<h3>Microsoft Contracts (Multiple)</h3>
		<h4>QA Automation Engineer</h4>
		<p>January 2008 - September 2010</p>
		<ul class="list-group">
			<li class="list-group-item">Summary of experience working for A-Game Empowerment</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h3>LDS Church Contract</h3>
		<h4>Sr. QA Automation Engineer</h4>
		<p>March 2011 - March 2013</p>
		<ul class="list-group">
			<li class="list-group-item">Summary of experience working for LDS Church Contract</li>
		</ul>
	</div>
	<div class="col-md-4">
		<h3>Swipeclock</h3>
		<h4>Sr. Software Engineer</h4>
		<p>March 2013 - October 2014</p>
		<ul class="list-group">
			<li class="list-group-item">Summary of experience working for Swipeclock</li>
		</ul>
	</div>
	<div class="col-md-4">
		<h3>LDS Church Contract</h3>
		<h4>Sr. QA Automation Engineer</h4>
		<p>November 2014 - November 2016</p>
		<ul class="list-group">
			<li class="list-group-item">Summary of experience working for LDS Church</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h3>Academy Mortgage Contract</h3>
		<h4>Sr. Software Engineer</h4>
		<p>Feburary 2017 - Current</p>
		<ul class="list-group">
			<li class="list-group-item">Summary of experience working for Academy Mortgage</li>
		</ul>
	</div>
	<div class="col-md-4">
		<h3>A-Game Empowerment</h3>
		<h4>Business Owner</h4>
		<h4>Sr. Software Engineer</h4>
		<p>August 2016 - Current</p>
		<ul class="list-group">
			<li class="list-group-item">Summary of experience working for A-Game Empowerment</li>
		</ul>
	</div>
</div>
