@{
   ViewBag.Title = "Experience";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
   <div class="col-md-12">
      <p>
         <a class="btn btn-info" href="~/media/resume.pdf" target="_blank" rel="noopener" style="background: #2e86c1; color: white; font-weight: bold;">Download my Resume >></a>
      </p>
   </div>
   <div class="col-md-12">
      <p>&nbsp;</p>
   </div>
   <div class="col-md-12">
      <h3 id="LDSChurch03">Church of Jesus Christ of Latter-day Saints</h3>
      <h4>Sr. QA Automation Engineer - SDET: August 2020 - Present</h4>
      <ul class="list-group">
         <li class="list-group-item">Organized and Applied Testing Discipline and Quality Assurance Guidelines</li>
         <li class="list-group-item">Developed Test Plans for Manual and Automated Testing</li>
         <li class="list-group-item">Implemented Test Automation using Selenium and Direct API</li>
         <li class="list-group-item">Created Various Reports for the Business</li>
         <li class="list-group-item">
            Technologies used<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Azure</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Azure DevOps / VSTS / TFS</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">C# .Net Framework and .Net Core</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">GIT</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Visual Studio</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-12">
      <h3 id="AGameEmpowerment">A-Game Empowerment</h3>
      <h4>Business Owner / Entrepreneur / Sr. Software Engineer: August 2016 - Current</h4>
      <h4></h4>
      <ul class="list-group">
         <li class="list-group-item">Custom Web and WebAPI Application Development</li>
         <li class="list-group-item">Responsive Mobile Web Design</li>
         <li class="list-group-item">Developing online eTraining Courses</li>
         <li class="list-group-item">Developed and customized WordPress Site for eCommerce and hosting eTraining Courses</li>
         <li class="list-group-item">Developed <a href="https://www.MLMLinkup.com" target="_blank" rel="noopener">MLMLinkup.com</a> and hosted it on Azure</li>
         <li class="list-group-item">Implemented custom eCommerce integration with PayPal merchant services</li>
         <li class="list-group-item">
            Technologies used<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">ASP.NET</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Azure</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Azure DevOps / VSTS / TFS</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Azure Function Applications</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Azure Logic Applications</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Azure Message Bus</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">C# .Net Framework and .Net Core</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Docker / Kubernetes (Light Exposure)</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">HostGator and cPanel</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Internet Information Service - IIS</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">GIT</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">MS-SQL</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">MVC</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Visual Studio</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Web Services SOAP &amp; REST</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">WordPress</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-12">
      <h3 id="AcademyMortgage">Academy Mortgage Corporation</h3>
      <h4>Sr. Software Engineer: February 2017 - September 2018</h4>
      <h4>IT-Manager: September 2018 - August 2020</h4>
      <ul class="list-group">
         <li class="list-group-item">Managing DevOps Team September 2018 - Present</li>
         <li class="list-group-item">Managing Quality Assurance Team April 2019 - Present</li>
         <li class="list-group-item">Managed the Service Now development team from September 2018 - April 2019</li>
         <li class="list-group-item">Sr. Software Engineer on the Encompass Development Team from February 2017 - September 2018</li>
         <li class="list-group-item">Management of Team Budgets and aided in the Procurement of both small and large scale Enterprise Software solutions</li>
         <li class="list-group-item">Participates in IT Leadership and Planning Discussions with CIO and Leadership Team on weekly tactical meeting</li>
         <li class="list-group-item">Participates as a member of the Architectural Review Board</li>
         <li class="list-group-item">Conducts Research and Architectural review of potential application solutions and develops Proof of Concept examples - @Html.ActionLink("Azure Services", "AzureServices", "Projects", null, null)</li>
         <li class="list-group-item">Provided direction and leadership creating technological direction in automation and orchestration of services in QA and DevOps</li>
         <li class="list-group-item">Customization and Plugin Development for Ellie Mae's Encompass Application</li>
         <li class="list-group-item">Data Sync Services using Encompass SDK that sync's data bidirectionally between Encompass and a Data Warehouse - @Html.ActionLink("Encompass", "Encompass", "Projects", null, null)</li>
         <li class="list-group-item">Developed implementation that creates Loans in Encompass using Ellie Mae's Dev Connect RESTful API</li>
         <li class="list-group-item">Assisted in the deployment, configuration, and best practices of Azure DevOps (VSTS / TFS)</li>
         <li class="list-group-item">Member of the Technology Architecture Review Board</li>
         <li class="list-group-item">Team Development Lead and Scrum Master</li>
         <li class="list-group-item">Assisted in the mentoring of agile practices among team members</li>
         <li class="list-group-item">
            Technologies used<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">Adaptive Insights</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">ASP.NET</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Azure</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Azure DevOps / VSTS / TFS</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Azure Function Applications</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Azure Logic Applications</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Azure Message Bus</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">C# .Net Framework and .Net Core</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Docker / Kubernetes (Light Exposure)</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Ellie Mae - Encompass</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">GIT</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">MS-SQL</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">MuleSoft AnyPoint Platform (Light Exposure)</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">MVC</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Salt Stack (Light Exposure)</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Service Now (Light Exposure)</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Visual Studio</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Web Services SOAP &amp; REST</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Workplace</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">WPF</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-12">
      <h3 id="LDSChurch02">Church of Jesus Christ of Latter-day Saints - Contract - Translation Services</h3>
      <h4>Sr. QA Automation Engineer - SDET: November 2014 - November 2016</h4>
      <ul class="list-group">
         <li class="list-group-item">LDS-TS: Organized and Applied Testing Discipline and Quality Assurance Guidelines</li>
         <li class="list-group-item">LDS-TS: Developed Test Plans for Manual and Automated Testing</li>
         <li class="list-group-item">LDS-TS: Implemented Test Automation using Selenium and Direct API</li>
         <li class="list-group-item">LDS-TS: Release Management and Deployment of Updates and Patches</li>
         <li class="list-group-item">LDS-TS: Created Various Reports for the Business</li>
         <li class="list-group-item">Leadership: Mentorship of Intern and Lead in QA on team</li>
         <li class="list-group-item">
            Technologies used<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">C#</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Java</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">JIRA</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">GIT</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">MS-SQL</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Team Foundation Server - TFS</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Translation Tools</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Visual Studio</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Web Services SOAP &amp; REST</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">XML</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-12">
      <h3 id="SwipeClock">SwipeClock</h3>
      <h4>Sr. Software Engineer: March 2013 - October 2014</h4>
      <ul class="list-group">
         <li class="list-group-item">Development Lead for team</li>
         <li class="list-group-item">Team Foundation Server Administrator</li>
         <li class="list-group-item">Timeworks: Release Management and Lane Promotion. Multiple Release Cycles for Feature Sets</li>
         <li class="list-group-item">Timeworks: Migration of .NET Web Site Project to support N-Tier Architecture</li>
         <li class="list-group-item">Timeworks: Implemented changes in project to support SOA Library and WebService</li>
         <li class="list-group-item">Timeworks: Database Architecture and Schema Deployment</li>
         <li class="list-group-item">
            Technologies used<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">ASP.NET</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">C#</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">IIS</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">MS-SQL / T-SQL</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Team Foundation Server - TFS</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Visual Studio</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Web Services SOAP &amp; REST</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">XML</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-12">
      <h3 id="LDSChurch01">Church of Jesus Christ of Latter-day Saints - Contract - Translation Services</h3>
      <h4>Sr. QA Automation Engineer - SDET: March 2011 - March 2013</h4>
      <ul class="list-group">
         <li class="list-group-item">LDS-TS: Completed Product Release Cycle</li>
         <li class="list-group-item">LDS-TS: Manual and Automated Testing and Development of Test Cases</li>
         <li class="list-group-item">LDS-TS: Application and Database Performance Analysis and Developed SQL data management scripts</li>
         <li class="list-group-item">LDS-TS: Updated SQL Scripts for data migration from Oracle / Clarity to SQL</li>
         <li class="list-group-item">LDS-TS: SQL Database Schema and Data validation</li>
         <li class="list-group-item">
            Technologies used<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">C#</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">IIS</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">MS-SQL T-SQL</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Silverlight</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">TFS</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Visual Studio</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Web Services SOAP &amp; REST</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">XML</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-12">
      <h3 id="Microsoft">Microsoft Contracts (Multiple)</h3>
      <h4>QA Automation Engineer - SDET: January 2008 - September 2010</h4>
      <ul class="list-group">
         <li class="list-group-item">CRM: Ownership over test suite validating backward compatibility through WCF interface</li>
         <li class="list-group-item">CRM: Analyzing Stack Traces to determine software breaks, filing and verifying software bugs / fixes</li>
         <li class="list-group-item">Zune: Developed Web based Reporting website</li>
         <li class="list-group-item">Zune: Developed SQL Database, stored procedures, and triggers to interface with the website</li>
         <li class="list-group-item">Zune: Developed SSIS packages in MS-SQL to import data into a data-mart database</li>
         <li class="list-group-item">Zune: Developed system to migrate data from Data-mart into Analysis Services</li>
         <li class="list-group-item">Zune: Participated in scrum team planning, scoping, and prioritization</li>
         <li class="list-group-item">
            Technologies used<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">C#</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">MS-SQL / T-SQL</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Product Studio</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Source Depot</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Visual Studio</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-12">
      <h3 id="CareyAndAssoc">Carey And Associates</h3>
      <h4>Member Owner / Entrepreneur / Software Architect: April 2007 - Current</h4>
      <ul class="list-group">
         <li class="list-group-item">Professional Consulting providing software architecture and solutions for business logic</li>
         <li class="list-group-item">Developed SOAP / REST Service to replicate data from a server to a Mobile Client</li>
         <li class="list-group-item">Developed media content and delivery system and web service utilizing C# ASP.NET (2 Years)</li>
         <li class="list-group-item">Development of SQL Databases, creating tables, stored procedures, indexes, and custom applications</li>
         <li class="list-group-item">Developed Client in Java that communicated with a SOAP Service</li>
         <li class="list-group-item">
            Technologies used<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">AJAX</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">ASP.NET</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">BugTracker.NET</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">C#</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">CSS</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">HTML</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">IIS</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Java</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">JavaScript</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">MS-SQL / T-SQL</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">SVN</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Visual Studio</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">XML</li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-12">
      <h3 id="Kumusoft">Kumusoft</h3>
      <h4>Member Owner / Entrepreneur / Software Engineer: January 2002 - September 2005</h4>
      <ul class="list-group">
         <li class="list-group-item">Developed web application for presentation of web based genealogical data</li>
         <li class="list-group-item">Implemented security and access control layer for user interaction with web based software</li>
         <li class="list-group-item">
            Technologies used<br /><br />
            <ul>
               <li class="list-group-item list-group-item-info font-weight-bolder">ASP.NET</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">C/C++</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">C#</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">IIS</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">MS-SQL / T-SQL</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">Visual Studio</li>
               <li class="list-group-item list-group-item-info font-weight-bolder">VSS</li>
            </ul>
         </li>
      </ul>
   </div>
</div>
