@{
	ViewBag.Title = "Experience";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
	<div class="col-md-12">
		<h3>A-Game Empowerment</h3>
		<h4>Business Owner / Entrepreneur / Sr. Software Engineer: August 2016 - Current</h4>
		<h4></h4>
		<ul class="list-group">
			<li class="list-group-item">Custom Web and WebAPI Application Development</li>
			<li class="list-group-item">Responsive Mobile Web Design</li>
			<li class="list-group-item">Developing online eTraining Courses</li>
			<li class="list-group-item">Developed and customized Wordpress Site for eCommerce and hosting eTraining Courses</li>
			<li class="list-group-item">Developed <a href="https://www.MLMLinkup.com" target="_blank">MLMLinkup.com</a> and hosted it on Azure</li>
			<li class="list-group-item">Implemented custom eCommerce integration with PayPal merchant services</li>
			<li class="list-group-item">
				Technologies used<br /><br />
				<ul>
					<li class="list-group-item">ASP.NET</li>
					<li class="list-group-item">Azure</li>
					<li class="list-group-item">C#</li>
					<li class="list-group-item">Hostgator and cPanel</li>
					<li class="list-group-item">Internet Information Service - IIS</li>
					<li class="list-group-item">GIT</li>
					<li class="list-group-item">MVC</li>
					<li class="list-group-item">Team Foundation Server - TFS / VSTS</li>
					<li class="list-group-item">Visual Studio</li>
					<li class="list-group-item">Web Services SOAP &amp; REST</li>
					<li class="list-group-item">Wordpress</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="col-md-12">
		<h3>Academy Mortgage Corporation</h3>
		<h4>Sr. Software Engineer: Feburary 2017 - Current</h4>
		<ul class="list-group">
			<li class="list-group-item">Customization and Plugin Development for Ellie Mae's Encompass Application</li>
			<li class="list-group-item">Data Sync Services using Encompass SDK that sync's data bidir/ectionally between Encompass and the Datawarehouse</li>
			<li class="list-group-item">Assisted in the deployment, configuration, and best practices of VSTS</li>
			<li class="list-group-item">Team Development Lead and Scrum Master</li>
			<li class="list-group-item">Assisted in the mentoring of agile practices among team members</li>
			<li class="list-group-item">
				Technologies used<br /><br />
				<ul>
					<li class="list-group-item">ASP.NET</li>
					<li class="list-group-item">C#</li>
					<li class="list-group-item">Docker / Kubernetes (Light Exposure)</li>
					<li class="list-group-item">.Net Core</li>
					<li class="list-group-item">GIT</li>
					<li class="list-group-item">MVC</li>
					<li class="list-group-item">Visual Studio Team Services - VSTS</li>
					<li class="list-group-item">Visual Studio</li>
					<li class="list-group-item">Web Services SOAP &amp; REST</li>
					<li class="list-group-item">WPF</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="col-md-12">
		<h3>LDS Church Contract</h3>
		<h4>Sr. QA Automation Engineer: November 2014 - November 2016</h4>
		<ul class="list-group">
			<li class="list-group-item">LDS-TS: Organized and Applied Testing Discipline and Quality Assurance Guidelines</li>
			<li class="list-group-item">LDS-TS: Developed Test Plans for Manual and Automated Testing</li>
			<li class="list-group-item">LDS-TS: Implemented Test Automation using Selenium and Direct API</li>
			<li class="list-group-item">LDS-TS: Release Management and Deployment of Updates and Patches</li>
			<li class="list-group-item">LDS-TS: Created Various Reports for the Business</li>
			<li class="list-group-item">Leadership: Mentorship of Intern and Lead in QA on team</li>
			<li class="list-group-item">
				Technologies used<br /><br />
				<ul>
					<li class="list-group-item">C#</li>
					<li class="list-group-item">Java</li>
					<li class="list-group-item">JIRA</li>
					<li class="list-group-item">GIT</li>
					<li class="list-group-item">Team Foundation Server - TFS</li>
					<li class="list-group-item">Translation Tools</li>
					<li class="list-group-item">Visual Studio</li>
					<li class="list-group-item">Web Services SOAP &amp; REST</li>
					<li class="list-group-item">XML</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="col-md-12">
		<h3>Swipeclock</h3>
		<h4>Sr. Software Engineer: March 2013 - October 2014</h4>
		<ul class="list-group">
			<li class="list-group-item">Development Lead for team</li>
			<li class="list-group-item">Team Foundation Server Administrator</li>
			<li class="list-group-item">Timeworks: Release Management and Lane Promotion. Multiple Release Cycles for Feature Sets</li>
			<li class="list-group-item">Timeworks: Migration of .NET Web Site Project to support N-Tier Architecture</li>
			<li class="list-group-item">Timeworks: Implemented changes in project to support SOA Library and WebService</li>
			<li class="list-group-item">Timeworks: Database Architecture and Schema Deployment</li>
			<li class="list-group-item">
				Technologies used<br /><br />
				<ul>
					<li class="list-group-item">ASP.NET</li>
					<li class="list-group-item">C#</li>
					<li class="list-group-item">IIS</li>
					<li class="list-group-item">MS-SQL / T-SQL</li>
					<li class="list-group-item">Team Foundation Server - TFS</li>
					<li class="list-group-item">Visual Studio</li>
					<li class="list-group-item">Web Services SOAP &amp; REST</li>
					<li class="list-group-item">XML</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="col-md-12">
		<h3>LDS Church Contract</h3>
		<h4>Sr. QA Automation Engineer: March 2011 - March 2013</h4>
		<ul class="list-group">
			<li class="list-group-item">LDS-TS: Completed Product Release Cycle</li>
			<li class="list-group-item">LDS-TS: Manual and Automated Testing and Development of Test Cases</li>
			<li class="list-group-item">LDS-TS: Application and Database Performance Analysis and Developed SQL data management scripts</li>
			<li class="list-group-item">LDS-TS: Updated SQL Scripts for data migration from Oracle / Clarity to SQL</li>
			<li class="list-group-item">LDS-TS: SQL Database Schema and Data validation</li>
			<li class="list-group-item">
				Technologies used<br /><br />
				<ul>
					<li class="list-group-item">C#</li>
					<li class="list-group-item">IIS</li>
					<li class="list-group-item">MS-SQL T-SQL</li>
					<li class="list-group-item">Silverlight</li>
					<li class="list-group-item">TFS</li>
					<li class="list-group-item">Visual Studio</li>
					<li class="list-group-item">Web Services SOAP &amp; REST</li>
					<li class="list-group-item">XML</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="col-md-12">
		<h3>Microsoft Contracts (Multiple)</h3>
		<h4>QA Automation Engineer: January 2008 - September 2010</h4>
		<ul class="list-group">
			<li class="list-group-item">CRM: Ownership over test suite validating backward compatibility through WCF interface</li>
			<li class="list-group-item">CRM: Analyzing Stack Traces to determine software breaks, filing and verifying software bugs / fixes</li>
			<li class="list-group-item">Zune: Developed Web based Reporting website</li>
			<li class="list-group-item">Zune: Developed SQL Database, stored procedures, and triggers to interface with the website</li>
			<li class="list-group-item">Zune: Developed SSIS packages in MS-SQL to import data into a data-mart database</li>
			<li class="list-group-item">Zune: Developed system to migrate data from Data-mart into Analysis Services</li>
			<li class="list-group-item">Zune: Participated in scrum team planning, scoping, and prioritization</li>
			<li class="list-group-item">
				Technologies used<br /><br />
				<ul>
					<li class="list-group-item">C#</li>
					<li class="list-group-item">MS-SQL / T-SQL</li>
					<li class="list-group-item">Product Studio</li>
					<li class="list-group-item">Source Depot</li>
					<li class="list-group-item">Visual Studio</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="col-md-12">
		<h3>Carey And Associates</h3>
		<h4>Member Owner / Entrepreneur / Software Architect: April 2007 - Current</h4>
		<ul class="list-group">
			<li class="list-group-item">Professional Consulting providing software architecture and solutions for business logic</li>
			<li class="list-group-item">Developed SOAP / REST Service to replicate data from a server to a Mobile Client</li>
			<li class="list-group-item">Developed media content and delivery system and web service utilizing C# ASP.NET (2 Years)</li>
			<li class="list-group-item">Development of SQL Databases, creating tables, stored procedures, indexes, and custom applications</li>
			<li class="list-group-item">Developed Client in Java that communicated with a SOAP Service</li>
			<li class="list-group-item">
				Technologies used<br /><br />
				<ul>
					<li class="list-group-item">AJAX</li>
					<li class="list-group-item">ASP.NET</li>
					<li class="list-group-item">BugTracker.NET</li>
					<li class="list-group-item">C#</li>
					<li class="list-group-item">CSS</li>
					<li class="list-group-item">HTML</li>
					<li class="list-group-item">IIS</li>
					<li class="list-group-item">Java</li>
					<li class="list-group-item">JavaScript</li>
					<li class="list-group-item">MS-SQL / T-SQL</li>
					<li class="list-group-item">SVN</li>
					<li class="list-group-item">Visual Studio</li>
					<li class="list-group-item">XML</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="col-md-12">
		<h3>Kumusoft</h3>
		<h4>Member Owner / Entrepreneur / Software Engineer: January 2002 - September 2005</h4>
		<ul class="list-group">
			<li class="list-group-item">Developed web application for presentation of web based genealogical data</li>
			<li class="list-group-item">Implemented security and access control layer for user interaction with web based software</li>
			<li class="list-group-item">
				Technologies used<br /><br />
				<ul>
					<li class="list-group-item">ASP.NET</li>
					<li class="list-group-item">C/C++</li>
					<li class="list-group-item">C#</li>
					<li class="list-group-item">IIS</li>
					<li class="list-group-item">MS-SQL / T-SQL</li>
					<li class="list-group-item">Visual Studio</li>
					<li class="list-group-item">VSS</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
